html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	background-color: #477dca;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 0.75em 1em;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
	background-color: #2c5999;
	color: #fff;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

fieldset {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	margin: 0 0 0.75em;
	padding: 1.5em;
}

input,
label,
select {
	display: block;
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
	font-size: 16px;
}

label {
	font-weight: 600;
	margin-bottom: 0.375em;
}

label.required::after {
	content: "*";
}

label abbr {
	display: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select[multiple=multiple],
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
	font-size: 16px;
	margin-bottom: 0.75em;
	padding: 0.5em;
	transition: border-color;
	width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
	border-color: #c4c4c4;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
	border-color: #477dca;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
	outline: none;
}

textarea {
	resize: vertical;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	margin-right: 0.375em;
}

input[type="file"] {
	padding-bottom: 0.75em;
	width: 100%;
}

select {
	margin-bottom: 1.5em;
	max-width: 100%;
	width: auto;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

dl {
	margin-bottom: 0.75em;
}

dl dt {
	font-weight: bold;
	margin-top: 0.75em;
}

dl dd {
	margin: 0;
}

table {
	-webkit-font-feature-settings: "kern", "liga", "tnum";
	-ms-font-feature-settings: "kern", "liga", "tnum";
	font-feature-settings: "kern", "liga", "tnum";
	border-collapse: collapse;
	margin: 0.75em 0;
	table-layout: fixed;
	width: 100%;
}

th {
	border-bottom: 1px solid #b7b7b7;
	font-weight: 600;
	padding: 0.75em 0;
	text-align: left;
}

td {
	border-bottom: 1px solid #ddd;
	padding: 0.75em 0;
}

tr,
td,
th {
	vertical-align: middle;
}

body {
	-webkit-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: "kern", "liga", "pnum";
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "museo-slab" Arial, sans-serif;
}

h1 {
	font-size: 1em;
	line-height: 1.5em;
}

h2 {
	font-size: 2.25em;
	line-height: 1.33334em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
}

p {
	margin: 0 0 0.75em;
}

p img {
	position: relative;
	display: inline-block;
}

p img.imgLeft {
	float: left;
}

p img.imgRight {
	float: right;
}

p img.imgStatic {
	float: static;
}

a {
	color: #477dca;
	text-decoration: none;
	transition: color 0.1s linear;
	will-change: initial;
}

a:active,
a:focus,
a:hover {
	color: #2c5999;
}

a:active,
a:focus {
	outline: none;
}

hr {
	border-bottom: 1px solid #ddd;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: 1.5em 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

/* Default-colors
-----------------------------*/

/* Defaults
-----------------------------*/

::-moz-selection {
	background: #e15252;
	text-shadow: none;
}

::selection {
	background: #e15252;
	text-shadow: none;
}

/* Utilities
-----------------------------*/

.isHidden {
	visibility: hidden !important;
}

.isNone {
	display: none !important;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

/* Default-colors
-----------------------------*/

/* Defaults
-----------------------------*/

::-moz-selection {
	background: #0094f2;
	text-shadow: none;
}

::selection {
	background: #0094f2;
	text-shadow: none;
}

/* Utilities
-----------------------------*/

html,
body {
	height: 100% !important;
}

body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

.g-float-Left {
	float: left !important;
}

.g-float-Right {
	float: right !important;
}

.g-clear {
	clear: both !important;
}

.g-relative {
	position: relative !important;
}

.g-absolute {
	position: absolute !important;
}

.g-text-Left {
	text-align: left !important;
}

.g-text-Center {
	text-align: center !important;
}

.g-text-Right {
	text-align: right !important;
}

.g-hidden {
	visibility: hidden !important;
}

.g-none {
	display: none !important;
}

.g-fs0 {
	font-size: 0 !important;
}

.g-table {
	display: table;
	width: 100%;
}

.g-table__Cell {
	display: table-cell;
}

.g-width__Two {
	width: 15% !important;
}

.g-width__Three {
	width: 23.5% !important;
}

.g-width__Four {
	width: 32% !important;
}

.g-width__Five {
	width: 40.5% !important;
}

.g-width__Six {
	width: 49% !important;
}

.g-width__Seven {
	width: 57.5% !important;
}

.g-width__Eight {
	width: 66% !important;
}

.g-width__Twelve {
	width: 100% !important;
}

.g-shift__One {
	margin-left: 8.5% !important;
}

.g-shift__Two {
	margin-left: 17% !important;
}

.g-shift__Three {
	margin-left: 25.5% !important;
}

.g-shift__Four {
	margin-left: 34% !important;
}

.g-shift__Five {
	margin-left: 42.5% !important;
}

.g-shift__Six {
	margin-left: 51% !important;
}

.g-last {
	margin-right: 0 !important;
}

.g-first {
	margin-left: 0 !important;
}

.center {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.center::after {
	clear: both;
	content: "";
	display: table;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
	background: #0075bf;
	color: #FFF;
	text-shadow: none;
}

::selection {
	background: #0075bf;
	color: #FFF;
	text-shadow: none;
}

.t-moreButton {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	padding: 12px 30px;
	font-family: "museo-sans", Arial, sans-serif;
	background: #0075bf;
	color: #FFF;
	text-decoration: none;
	border: 0;
	position: relative;
	font-weight: 600;
	transition: 300ms;
}

.t-moreButton:hover {
	color: #0075bf;
	border-color: #FFF;
}

.t-moreButton:hover:before {
	opacity: 1;
	right: -40px;
	left: -40px;
}

.t-moreButton:before {
	content: '';
	display: block;
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transform: skew(40deg);
	transform: skew(40deg);
	background: #FFF;
	left: 50%;
	right: 50%;
	opacity: 0;
	transition: 300ms;
}

.t-input-Select {
	background: #666;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	transition: 200ms;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-right: 10px;
}

.t-input-Select option {
	background: transparent;
}

.t-input-Select:hover {
	background: #595959;
}

.t-input-Select:hover:after {
	background-color: #595959;
}

.t-input-Select:active {
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
	transition: 60ms;
}

.t-input-Select:after {
	display: block;
	content: "";
	position: absolute;
	width: 40px;
	height: 100%;
	line-height: 43px;
	font-size: 0.75em;
	color: #999999;
	top: 0;
	right: 0;
	text-align: center;
	background: no-repeat center center;
	background-color: #666;
	pointer-events: none;
	transition: 200ms;
}

.t-input-Select select {
	border: 0;
	-webkit-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	padding: 9px 10px 8px;
	outline: none;
	cursor: pointer;
	color: #4d4d4d;
	display: block;
	background: #FFF;
	background: transparent;
	padding-right: 40px;
	display: block;
}

.t-input-Select select[disabled] {
	color: rgba(0, 0, 0, 0.3);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	cursor: pointer;
	outline: none !important;
}

strong {
	font-weight: 600;
}

.Logo img {
	transition: 300ms;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.6;
}

.Logo img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}

.Overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 3;
	transition: all 300ms;
}

.Overlay--isHidden {
	visibility: hidden;
	opacity: 0;
}

.Logo {
	position: fixed;
	top: 5%;
	left: 2%;
	z-index: 3;
	transition: all 300ms;
	-webkit-animation: getright 1.5s;
	animation: getright 1.5s;
}

.Logo:active {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.Logo__toTop {
	display: block;
	position: relative;
	width: 100%;
}

.siteTitle {
	text-indent: -9999px;
	margin: 0;
	font: normal normal 1em/5em "proxima-nova", Helvetica, Verdana, sans-serif;
}

.siteHeader {
	width: 300px;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	transition: all 300ms;
	will-change: initial;
	background-color: #FFF;
}

.siteHeader::after {
	clear: both;
	content: "";
	display: table;
}

.siteHeader__Title,
.siteHeader .siteNav__ul li,
.siteNav__ul .siteHeader li {
	display: inline-block;
	float: left;
	margin: 0;
	font: normal normal 1em/5em "proxima-nova", Helvetica, Verdana, sans-serif;
	color: #000;
	text-indent: -9999px;
}

.siteHeader--isFixed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.siteHeader--isTransformed {
	-webkit-transform: translateX(300px) !important;
	transform: translateX(300px) !important;
	transition: all 300ms;
}

.siteHeader--isColored {
	background-color: #000 !important;
	color: #FFF !important;
}

.siteNav,
.siteNav__ul {
	position: relative;
	width: 100%;
	height: 100%;
}

.siteNav__ul li {
	position: relative;
	display: block !important;
	width: 100%;
	text-align: center;
	text-indent: initial !important;
}

.siteNav__ul a {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	color: inherit;
	transition: all 300ms;
}

.siteNav__ul a:hover {
	color: #666;
}

.siteNav--isHidden {
	opacity: 0 !important;
	visibility: hidden !important;
}

.siteNav--isAnimated {
	-webkit-animation: getright 1.5s;
	animation: getright 1.5s;
}

.menuBtn {
	position: fixed;
	top: 5%;
	right: 2%;
	width: 40px;
	height: 20px;
	line-height: 5em;
	z-index: 10;
}

.menuBtn--isAnimated {
	-webkit-animation: getleft 1.5s;
	animation: getleft 1.5s;
}

.menuBtn:after,
.menuBtn:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
	transition: all 300ms;
}

.menuBtn:before {
	top: 0;
}

.menuBtn:after {
	bottom: 0;
}

.menuBtn:hover:before {
	top: 45%;
	-webkit-transform: rotate(145deg);
	transform: rotate(145deg);
}

.menuBtn:hover:after {
	bottom: 45%;
	-webkit-transform: rotate(-145deg);
	transform: rotate(-145deg);
}

.menuBtn--isActive:before {
	top: 45%;
	-webkit-transform: rotate(145deg);
	transform: rotate(145deg);
}

.menuBtn--isActive:after {
	bottom: 45%;
	-webkit-transform: rotate(-145deg);
	transform: rotate(-145deg);
}

.menuBtn--isColored:after,
.menuBtn--isColored:before {
	background-color: #000 !important;
}

.siteWrapper {
	height: 100%;
	width: 100%;
	position: relative;
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
}

.siteWrapper::after {
	clear: both;
	content: "";
	display: table;
}

.siteWrapper--isTransformed {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
}

.teaser {
	position: relative;
	height: 100%;
	background: transparent url("../img/section-08.jpg") no-repeat center;
	background-size: cover;
	z-index: 1;
}

.teaser__Wrapper {
	position: relative;
	top: 35%;
	max-width: 1088px;
	width: 100%;
	margin: 0 auto;
}

.teaser__Title {
	position: relative;
	margin: 0;
	font: bold normal 7em/1 "proxima-nova", Helvetica, Verdana, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	-webkit-animation: getin 1.5s;
	animation: getin 1.5s;
}

.teaser__Title span {
	display: block;
	width: 100%;
}

.teaser__Title:after {
	content: '';
	position: absolute;
	bottom: -15%;
	left: 0;
	width: 90px;
	height: 5px;
	background-color: #FFF;
}

.about,
.contact,
.heroku {
	padding-bottom: 80px;
}

.mainSection {
	position: relative;
	width: 100%;
	background-size: cover;
	z-index: 2;
}

.section__Header {
	padding: 80px 0;
	color: #5a5a5a;
}

.section__Title {
	position: relative;
	display: inline-block;
	margin: 0;
	font: lighter normal 5em/1 "museo-sans", Arial, sans-serif;
	color: inherit;
	text-transform: uppercase;
}

.section__Title--isWhite {
	color: #FFF !important;
}

.section__Title:after {
	display: none;
	content: '';
	position: absolute;
	bottom: -15%;
	left: 0;
	width: 90px;
	height: 5px;
	background-color: #000;
}

.section__underTitle {
	margin: 0;
	font: normal normal 2em/1 "museo-sans", Arial, sans-serif;
	text-transform: uppercase;
	color: inherit;
}

.section__Article p {
	color: #5a5a5a;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;
}

.section--isBlack {
	background-color: #000;
}

.section--isBlue {
	background-color: #0075bf;
}

.portfolio {
	position: relative;
	width: 100%;
}

.portfolio__Grid {
	position: relative;
	width: 100%;
}

.portfolio__Grid::after {
	clear: both;
	content: "";
	display: table;
}

.portfolio__Grid--quart {
	width: 25%;
	float: left;
}

.portfolio__Grid--third {
	width: 33.33%;
	float: left;
}

.portfolio__Grid--half {
	width: 50%;
	float: left;
}

.portfolio__Grid--full {
	width: 100%;
	float: left;
}

.portfolio__item {
	position: relative;
	overflow: hidden;
	background-color: #000;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 300ms;
}

.portfolio__item > img {
	opacity: .5;
}

.portfolio__item p {
	margin: 0;
}

.portfolio__item article,
.portfolio__item div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	opacity: 0;
	text-align: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 300ms;
}

.portfolio__item article h3,
.portfolio__item article p,
.portfolio__item article a,
.portfolio__item div h3,
.portfolio__item div p,
.portfolio__item div a {
	color: #FFF;
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
}

.portfolio__item:hover article,
.portfolio__item:hover div {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.portfolio__item:active {
	outline: 0;
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.portfolio__item--placeholder article,
.portfolio__item--placeholder div {
	opacity: 1 !important;
}

.portfolio__item--placeholder:hover article,
.portfolio__item--placeholder:hover div {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
}

.portfolio__item--blue {
	background-color: #0075bf;
}

.portfolio__item--fb {
	background-color: #485e88;
}

.portfolio__item--red {
	background-color: #db2328;
}

.portfolio__item--yellow {
	background-color: #fa9f04;
}

.portfolio__item--stumbleupon {
	background-color: #EB4823;
}

.portfolio__item--wp {
	background-color: #21759b;
}

.portfolio__item--gold {
	background-color: #f1c12e;
}

.portfolio__item--green {
	background-color: #005d77;
}

.portfolio__item--black {
	background-color: #000;
}

.portfolio__item--pink {
	background-color: #ee4a86;
}

.portfolio__item--purple {
	background-color: #331c33;
}

.portfolio__item--jade {
	background-color: #30a2ad;
}

.portfolio__contactBtn {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #FFF;
}

.portfolio__contactBtn:hover,
.portfolio__contactBtn:active {
	border-style: dashed;
}

.about {
	position: relative;
	width: 100%;
}

.contact {
	overflow: hidden;
	background: transparent url('../img/bg-contact-2.jpg') no-repeat top left;
	background-size: cover;
}

.contact__form {
	float: left;
	display: block;
	margin-right: 2.35765%;
	width: 48.82117%;
}

.contact__form:last-child {
	margin-right: 0;
}

.contact__form input,
.contact__form textarea {
	width: 100%;
	padding: 15px;
	border-radius: 0;
}

.contact__submit {
	cursor: false !important;
	background-color: #db2328 !important;
}

.contact__submit--isDisabled {
	background-color: #5a5a5a !important;
}

.map {
	position: relative;
	width: 100%;
	height: 500px;
}

.heroku__wrapper {
	position: relative;
	width: 100%;
	float: left;
	background-color: #3B2F63;
}

.heroku h1,
.heroku h2,
.heroku h3,
.heroku p {
	color: #FFF;
}

.heroku a {
	color: crimson;
}

.siteFooter {
	background-color: #282828;
}

.copyright {
	margin: 0;
	text-align: center;
	line-height: 3em;
}

.toTop {
	position: relative;
	width: 100%;
	transition: background-color 300ms;
}

.toTop__Btn {
	display: block;
	width: 100%;
	line-height: 3em;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.toTop:hover {
	background-color: #000;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
	font-family: "proxima-nova", Helvetica, Verdana, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

/* HTML5 display definitions
	 @mixin ========================================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* Links
	 @mixin ========================================================================= */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 @mixin ========================================================================= */

abbr[title] {
	border-bottom: 1px dotted;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
	 @mixin ========================================================================= */

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 @mixin ========================================================================= */

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 @mixin ========================================================================= */

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button {
	text-transform: none;
}

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

/* Tables
	 @mixin ========================================================================= */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.terminal__wrapper {
	display: block;
	width: 100%;
	margin: auto;
	padding: 0 10px 10px;
	background-color: rgba(102, 102, 102, 0.75);
	box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
	clear: both;
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.terminal__wrapper::after {
	clear: both;
	content: "";
	display: table;
}

.terminal__wrapper--isCentered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 1000px;
}

.terminal__title {
	position: relative;
	width: 100%;
	padding: 5px;
	text-align: center;
}

.terminal__minimize,
.terminal__maximize,
.terminal__close {
	position: relative;
	display: inline-block;
	float: right;
	margin-left: 1%;
	font-family: "Lucida Grande", sans-serif;
	cursor: pointer;
}

.terminal__close {
	padding: 0 15px;
	color: #FFF;
	background-color: #db2328;
}

.terminal__maximize {
	top: 5px;
	width: 15px;
	height: 12px;
	border-top-width: medium !important;
	border: 1px solid #000;
}

.terminal__minimize {
	top: 4px;
	width: 15px;
	height: 12px;
	border-bottom: 1px solid #000;
}

.terminal__header {
	text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0px;
	color: #FFF;
}

.terminal__body {
	min-height: 300px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	color: #f0f0f0;
	font-family: "Consolas", "Courier New", "Courier";
	font-size: 1em;
	font-weight: 500;
	text-align: left;
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.terminal__path {
	display: block;
	width: 100%;
	color: #99cc33;
}

.terminal__sign {
	color: #7c7b6e;
}

.terminal--isMaximized {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/* Preload images */

body:after {
	content: url(../img/lightbox/close.png) url(../img/lightbox/loading.gif) url(../img/lightbox/prev.png) url(../img/lightbox/next.png);
	display: none;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	border-radius: 3px;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-container {
	padding: 4px;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/lightbox/loading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../img/lightbox/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../img/lightbox/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/lightbox/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {

.portfolio__Grid--quart {
	width: 33.33%;
}

}

@media screen and (max-width: 1360px) {

.portfolio__item article,
.portfolio__item div {
	padding: 10%;
}

}

@media screen and (max-width: 1359px) {

.center,
.teaser__Wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

}

@media screen and (max-width: 1023px) {

.center,
.teaser__Wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.teaser {
	height: 50%;
}

.teaser__Title {
	font-size: 3.5em;
}

.section__Title {
	font-size: 2.5em;
}

.section__Header {
	padding: 40px;
}

.portfolio__item article,
.portfolio__item div {
	padding-top: 20%;
}

.portfolio__Grid--quart {
	width: 50%;
}

.about,
.contact {
	padding-bottom: 40px;
}

}

@media screen and (max-width: 767px) {

.center,
.teaser__Wrapper {
	max-width: 600px;
}

.section__Article p {
	-webkit-column-count: initial;
	-moz-column-count: initial;
	column-count: initial;
}

.contact__form {
	width: 100%;
}

}

@media screen and (max-width: 520px) {

.teaser__Title,
.section__Header {
	text-align: center;
}

.portfolio {
	cursor: auto;
}

.portfolio__item {
	cursor: pointer;
}

.portfolio__item:hover article {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.portfolio__Grid article {
	opacity: 1;
}

.portfolio__Grid--quart {
	width: 100%;
}

.map {
	display: none;
}

}

@-webkit-keyframes getin {

from {
	opacity: 0;
	-webkit-transform: translateY(-120px);
	transform: translateY(-120px);
}

to {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@keyframes getin {

from {
	opacity: 0;
	-webkit-transform: translateY(-120px);
	transform: translateY(-120px);
}

to {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@-webkit-keyframes getout {

from {
	opacity: 0;
	-webkit-transform: translateY(120px);
	transform: translateY(120px);
}

to {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@keyframes getout {

from {
	opacity: 0;
	-webkit-transform: translateY(120px);
	transform: translateY(120px);
}

to {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}

@-webkit-keyframes getleft {

from {
	opacity: 0;
	-webkit-transform: translateX(-120px);
	transform: translateX(-120px);
}

to {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

}

@keyframes getleft {

from {
	opacity: 0;
	-webkit-transform: translateX(-120px);
	transform: translateX(-120px);
}

to {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

}

@-webkit-keyframes getright {

from {
	opacity: 0;
	-webkit-transform: translateX(120px);
	transform: translateX(120px);
}

to {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

}

@keyframes getright {

from {
	opacity: 0;
	-webkit-transform: translateX(120px);
	transform: translateX(120px);
}

to {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

}

@keyframes blink {

0% {
	opacity: 1;
}

50% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes blink {

0% {
	opacity: 1;
}

50% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

