/* Default-colors
-----------------------------*/
$action-color: #0075bf;

$brand: #0075bf;
$white: #FFF;
$black: #000;
$gray: #666;
$yellow: #fa9f04;
$orange: #f05424;
$red: #db2328;
$blue: #0075bf;

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

/* Defaults
-----------------------------*/
// Font defaults
// You can change these values or add new one

::-moz-selection {
	background: lighten($brand, 10%);
	text-shadow: none;
}

::selection {
	background: lighten($brand, 10%);
	text-shadow: none;
}

/* Utilities
-----------------------------*/

// Alpha color
@function alpha($color: $black, $opacity: 0.5) {
	$alpha-color-value: rgba($color, $opacity);
	@return $alpha-color-value;
}

// Target/context formula
@function percent($target, $context: $max-width) {
	$target-context-num: $target / $context * 100%;
	@return $target-context-num;
}

// Align to center
@mixin center($axis: "both") {
	position: absolute;
	@if $axis == "y" {
		top: 50%;
		transform: translateY(-50%);
	}
	@if $axis == "x" {
		left: 50%;
		transform: translateX(-50%);
	}
	@if $axis == "both" {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin readMore($fsize, $fcolor, $hcolor) {
	font-size: em($fsize, 16);
	font-family: $museo;
	color: $fcolor;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: color 100ms;
	will-change: color;
	&:after {
		content: none !important;
	}
	&:hover {
		transition: color 100ms;
		color: $hcolor;
	}
	i {
		margin-right: 10px;
	}
	span {
		display: block;
		//margin-left: 20px;
		text-transform: none;
		font-style: italic;
	}
}

// Base styles
//body { font: normal normal #{$font-size}/#{$line-height} $museo; }
html, body {
	//width: 100%;
	height: 100%!important;
}
body { overflow-x: hidden; }

// Scrollbar default style
::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

