/* Default-colors
-----------------------------*/
/* Defaults
-----------------------------*/
::-moz-selection { background: #e15252; text-shadow: none; }

::selection { background: #e15252; text-shadow: none; }

/* Utilities
-----------------------------*/
.isHidden { visibility: hidden !important; }

.isNone { display: none !important; }

//body { font: 16px/1.5 "museo-nova"; }

::-webkit-scrollbar { width: 1em; }

::-webkit-scrollbar-track { background-color: #eaeaea; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }

::-webkit-scrollbar-thumb { background-color: #ccc; }

::-webkit-scrollbar-thumb:hover { background-color: #aaa; }

/*# sourceMappingURL=_grid-settings.scss.map */
