//body {
//  @include font-feature-settings("kern", "liga", "pnum");
//  -webkit-font-smoothing: antialiased;
//  color: $base-font-color;
//  font-family: $base-font-family;
//  font-size: $base-font-size;
//  line-height: $base-line-height;
//}
//
//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//  font-family: $heading-font-family;
//  //font-size: $base-font-size;
//  line-height: $heading-line-height;
//  //margin: 0 0 $small-spacing;
//}

$base-font-size: 1em;
$base-line-height: 1.5em;
$measure: 1000px;

$h1-font-size: 1em;
$h1-line: 1.5em;
$h1-lines: 1;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 2.25em;
$h2-line: 0.66667em;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.5em;
$h3-line: 1em;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 1em;
$h4-line: 1.5em;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

$light: 100;
$regular: 400;
$bold: 600;
$ultra: 900;

body {
	@include font-feature-settings("kern", "liga", "pnum");
	-webkit-font-smoothing: antialiased;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	//margin: 0 0 $small-spacing;
}

h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	//margin: 0 0 $small-spacing;
}

h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	//margin: 0 0 $small-spacing;
}

h4 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	//margin: 0 0 $small-spacing;
}

p {
	margin: 0 0 $small-spacing;
	img {
		position: relative;
		display: inline-block;
		&.imgLeft { float: left; }
		&.imgRight { float: right; }
		&.imgStatic { float: static; }
	}
}


a {
	color: $action-color;
	text-decoration: none;
	transition: color 0.1s linear;
	will-change: initial;
	&:active,
	&:focus,
	&:hover {
		color: darken($action-color, 15%);
	}
	&:active,
	&:focus {
		outline: none;
	}
}

hr {
	border-bottom: $base-border;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: $base-spacing 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}
