@charset "UTF-8";
// Default Variables
$slick-font-path: "../fonts/slick/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../img/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $brand !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 12px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;
@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else {
    @return url($slick-font-path + $url);
  }
}
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  .slick-loading & {
    background: #fff none center center no-repeat;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  display: none;
  &.dragging img {
    pointer-events: none;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
/* Icons */

@if $slick-font-family=="slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: $slick-font-family;
  font-size: 20px;
  line-height: 1;
  color: $slick-arrow-color;
  opacity: $slick-opacity-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }
  &:before {
    content: $slick-prev-character;
    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: -25px;
  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }
  &:before {
    content: $slick-next-character;
    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}
/* Dots */

.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  //bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0;
    opacity: 0.3;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
    button {
      border: 2px solid $white;
      border-radius: 50%;
      background: transparent;
      display: block;
      height: 28px;
      width: 28px;
      outline: none;
      line-height: 13px;
      margin: 0;
      padding: 0;
      color: $white;
      font-size: em(14px);
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }

    &.slick-active {
      opacity: 1;
    }
  }
}



/*-------------------------------------------------
----------------  CUSTOM STYLES  -----------------
-------------------------------------------------*/

.slickWrapper {
  transition: opacity 1s;
  z-index: 5;
  .slickSlider {
    position: relative;
    float: left;
    width: 100%;
    opacity: 1;
    transition: all .75s ease-in-out;
    transform: translate3d(0, 0, 0);
    &--fadeIn {
      opacity: 0;
      transform: translate3d(0, 0, -5%);
      transition: all .75s ease-in-out;
    }
    &__inner {  @extend %slickFade;
      position: relative;
      width: 100%;
      height: 280px;
      transition: opacity 1s ease;
      .slickSlider__cites {
        @include span-columns(7);
        @include center(y);
        position: relative;

        p:first-child {
          margin: 1em 0;
          &:before, &:after { content: '"'; }
          font: 300 italic em(44, 16) $museo-slab;
          color: #464646;
        }
        p:last-child {
          margin: 0;
          font-family: $proxima;
          font-weight: $bold;
          font-size: em(20, 16);
          color: $blue;
          text-transform: uppercase;
        }

      }
      .slickSlider__image {
        @include span-columns(7);
        position: absolute;
        right: -8%;
        bottom: -55px;
        img { width: 100%; }
      }
    }
  }
}

.teaser {
  .slickSlider {
    height: 100%;
  }
  .slick-list, .slick-track, .slick-slide {
    height: 100%;
  }
  .slick-dots {
    top: 0;
    bottom: auto;
    & li button:after, & li button:before {
      color: $white !important;
    }
  }
}

.cites, .newsSlider {
  .slick-dots {
    bottom: 207px!important;
    button {
      border-color: $gray;
      color: $gray;
       &:hover, &:active {
        border: 2px solid $blue!important;
        color: $blue!important;
       }
    }
    & .slick-active {
      button {
        border: 2px solid $blue!important;
        color: $blue!important;
      }
    }
    & li button:after, & li button:before {
      color: $blue !important;
    }
  }
}

.cites,
.teaser {
  .slick-dots {
    width: 49%;
  }
}

.slickSlider-map {
  .slick-slide {
    transition: 200ms;
    transform: none !important;
  }
  .slick-dots {
    top: 14px;
    width: auto;
    right: 10%;
    li {
      width: auto;
      height: auto;
      margin: 0;
      transition: 300ms;
      opacity: 0.2;
      &.slick-active {
        opacity: 1;
      }

      &:first-child {
        button {
          &:after { content: "ZG"; }
        }

        & + li {
          button {
            &:after { content: "RI"; }
          }
        }
      }
    }
    button {
      color: $white;
      font-size: em(14px);
      text-align: center;
      width: 28px;
      height: 28px;
      line-height: 25px;
      border-radius: 50%;
      border: 2px solid $white;
      font-family: $museo-slab;
      padding: 0;
      font-size: 0;
      margin-left: 10px;
      &:before {
        display: none;
      }

      &:after {
        content: "";
        font-size: 12px !important;
      }
    }
  }
}

.slickSlider {
  .slick-dots {
    text-align: left;
    & li button:after, & li button:before {
      font-size: 24px;
    }
  }
  .slick-list {
    overflow: visible!important;
  }
  &-map {}
}

 .article__Slider {
  background: $black;
  .slick-next, .slick-prev {
    width: 40px;
    height: 45px;
    top: 45%!important;
    background-size: contain!important;
    &:before {
      content: none!important;
    }
  }
  .slick-next {
    right: 25px!important;
    background: transparent url('../img/arrow-right-smaller.png') no-repeat center;
  }
  .slick-prev {
    left: 25px!important;
    background: transparent url('../img/arrow-left-smaller.png') no-repeat center;
  }
 }

.sports {
  .slick-next, .slick-prev {
    width: 25px;
    height: 45px;
    top: 45%!important;
    background-size: contain!important;
    &:before {
      content: none!important;
    }
  }
  .slick-next {
    right: -45px!important;
    background: transparent url('../img/arrow-right.png') no-repeat center;
  }
  .slick-prev {
    left: -75px!important;
    background: transparent url('../img/arrow-left.png') no-repeat center;
  }
  .slick-list {
    overflow: hidden !important;
  }
}

.mainMenu__news {
  .latestNews {
    // .newsSlider { transform: translateY(0); }
    .slick-dots {
      bottom: 220px !important;
    }
  }
  .newsSlider { clear: both;
    // transform: translateY(63px);
    .events__listItem { margin-top: 0; margin-right: 20px; display: block; }
  }
  .slider__menu__box {
    overflow: hidden;
  }
  .slick-dots {
    display: inline-block!important;
    top: -63px;
    //bottom: 280px;
    right: 20px;
    width: auto;
    li {
      border-bottom: none !important;
      button {
        border-color: $gray;
        width: 12px;
        height: 12px;
        color: transparent;
        font-size: 0;
      }
      button:before {
        font-size: 18px;
        color: $gray!important;
      }
      &.slick-active button:before {
        color: $gray!important;
      }
    }
  }
}

.banner {
  .slick-dots { text-align: center; }

      & li button:after, & li button:before {
      color: $white !important;
    }
}

.article__Slider {
  .slick-active {
      img {
        opacity: 1!important;
        transition: opacity 300ms;
      }
  }
}

.mainMenu {
  .slick-dots {
    li button { border-color: $gray; }
    .slick-active button {
      border-color: $gray!important; background-color: $gray;
    }
    &:hover  { button { border-color: $gray!important; opacity: 1!important; } }
  }
}

.banner__Slider {
  .slick-dots {
    bottom: -80px;
  }
}