@font-face {
	font-family: 'social';
	src:url('../fonts/social-icons/social.eot?-14fsg3');
	src:url('../fonts/social-icons/social.eot?#iefix-14fsg3') format('embedded-opentype'),
		url('../fonts/social-icons/social.woff?-14fsg3') format('woff'),
		url('../fonts/social-icons/social.ttf?-14fsg3') format('truetype'),
		url('../fonts/social-icons/social.svg?-14fsg3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="social-"], [class*=" social-"] {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-facebook:before {
	content: "\e05d";
}

.social-twitter:before {
	content: "\e05e";
}

.social-googleplus:before {
	content: "\e05f";
}

.social-rss:before {
	content: "\e060";
}

.social-tumblr:before {
	content: "\e061";
}

.social-linkedin:before {
	content: "\e062";
}

.social-dribbble:before {
	content: "\e063";
}

