
.terminal {

	&__wrapper {
		@include clearfix;
		display: block;
		width: 100%;
		margin: auto;
		padding: 0 10px 10px;
		background-color: rgba(102, 102, 102, 0.75);
		box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
		clear: both;
		overflow: hidden;
		transition: all 0.5s ease-out;
			&--isCentered {
				@include center();
				max-width: 1000px;
			}
	}

	&__title {
		position: relative;
		width: 100%;
		padding: 5px;
		text-align: center;
	}

	&__minimize, &__maximize, &__close {
		position: relative;
		display: inline-block;
		float: right;
		margin-left: 1%;
		font-family: "Lucida Grande", sans-serif;
		cursor: pointer;
	}

	&__close {
		padding: 0 15px;
		color: $white;
		background-color: $red;
	}

	&__maximize {
		top: 5px;
		width: 15px;
		height: 12px;
		border-top-width: medium!important;
		border: 1px solid $black;
	}

	&__minimize {
		top: 4px;
		width: 15px;
		height: 12px;
		border-bottom: 1px solid $black;
	}

	&__header {
		text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0px;
		color: $white;
	}

	&__body {
		min-height: 300px;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 10px;
		color: #f0f0f0;
		font-family: "Consolas", "Courier New", "Courier";
		font-size: 1em;
		//line-height: 1.40em;
		font-weight: 500;
		text-align: left;
		overflow: hidden;
		transition: all 0.5s ease-out;
	}

	&__path {
		display: block;
		width: 100%;
		color: #99cc33;
	}

	&__sign {
		color: #7c7b6e;
	}

	&--isMaximized {
		@include position(fixed, 0 0 0 0);
	}
}

.typed-cursor {
	opacity: 1;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}