@keyframes getin {
	from {
		opacity: 0;
		transform: translateY(-120px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes getout {
	from {
		opacity: 0;
		transform: translateY(120px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes getleft {
	from {
		opacity: 0;
		transform: translateX(-120px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes getright {
	from {
		opacity: 0;
		transform: translateX(120px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

%grayscale {
	img {
		transition: 300ms;
		filter: grayscale(1);
		opacity: 0.6;

		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}
	}
}