.siteFooter {
	background-color: #282828;
}

.copyright {
	margin: 0;
	text-align: center;
	line-height: 3em;
}
.toTop {
	position: relative;
	width: 100%;
	transition: background-color 300ms;
		&__Btn {
			display: block;
			width: 100%;
			line-height: 3em;
			color: $white;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
		}
		&:hover {
			background-color: $black;
		}
}