.Overlay {
	@include position(fixed, 0 0 0 0 );
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 3;
	transition: all 300ms;
		&--isHidden {
			visibility: hidden;
			opacity: 0;
		}
}
.Logo {
	@include position(fixed, 5% null null 2%);
	@extend %grayscale;
	z-index: 3;
	transition: all 300ms;
	animation: getright 1.5s;

	&:active {
		transform: scale(0.95);
	}

	&__toTop {
		display: block;
		position: relative;
		width: 100%;
	}
}

.siteTitle {
	text-indent: -9999px;
	margin: 0;
	font: normal normal 1em/5em $proxima;
}

.siteHeader {
	@include clearfix;
	width: 300px;
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
	transition: all 300ms;
	will-change: initial;
	background-color: $white;

	&__Title, %siteHeader__Title {

		display: inline-block;
		float: left;
		margin: 0;
		font: normal normal 1em/5em $proxima;
		color: $black;

		text-indent: -9999px;
	}

	&--isFixed {
		@include position(fixed, 0 0 0 null);
		z-index: 5;
	}

	&--isTransformed {
		transform: translateX(300px)!important;
		transition: all 300ms;
	}

	&--isColored {
		background-color: $black!important;
		color: $white!important;
	}
}

.siteNav, %siteNav {
	position: relative;
	width: 100%;
	height: 100%;

	&__ul {
		@extend %siteNav;

		li {
			@extend %siteHeader__Title;
			position: relative;
			display: block!important;
			width: 100%;
			text-align: center;
			text-indent: initial!important;
			//overflow: hidden;
		}

		a {
			position: relative;
			padding-left: 10px;
			padding-right: 10px;
			display: block;
			color: inherit;
			transition: all 300ms;

				// &:after {
				// 	position: absolute;
				// 	bottom: -10px;
				// 	width: 25%;
				// 	margin-left: 35%;
				// 	height: 2px;
				// 	content: '';
				// 	visibility: hidden;
				// 	opacity: 0;
				// 	background-color: $black;
				// 	display: block;
				// 	transition: all 300ms;
				// }

				&:hover {
					color: $gray;
					// &:after {
					// 	bottom: 0;
					// 	visibility: visible;
					// 	opacity: 1;
					// }
				}
		}
	}

	&--isHidden {
		opacity: 0!important;
		visibility: hidden!important;
	}

	&--isAnimated {
		animation: getright 1.5s;
	}
}

.menuBtn {
	position: fixed;
	top: 5%;
	right: 2%;
	width: 40px;
	height: 20px;
	line-height: 5em;
	z-index: 10;

		&--isAnimated {
			animation: getleft 1.5s;
		}

		&:after, &:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $black;
			transition: all 300ms;
		}

		&:before { top: 0; }

		&:after { bottom: 0; }

		&:hover {
			&:before {
				top: 45%;
				transform: rotate(145deg);
			}

			&:after {
				bottom: 45%;
				transform: rotate(-145deg);
			}
		}

		&--isActive {
			&:before {
				top: 45%;
				transform: rotate(145deg);
			}

			&:after {
				bottom: 45%;
				transform: rotate(-145deg);
			}
		}

		&--isColored {
			&:after, &:before { background-color: $black!important; }
		}
}

.siteWrapper {
	@include size(100%);
	@include clearfix();
	position: relative;
	transition: transform 300ms;

		&--isTransformed {
			transform: translateX(-300px);
		}
}