.heroku {
	@extend %paddingBottom80;

	&__wrapper {
		position: relative;
		width: 100%;
		float: left;
		//background-image: url('http://www.badrit.com/system/blog_assets/0000/0022/heroku3.png');
		//background-size: cover;
		//background-image: radial-gradient(ellipse at 0% bottom, rgba(118,72,160,0.7) 0%,rgba(118,72,160,0) 60%),radial-gradient(ellipse at 90% bottom, #523f8c 0%,rgba(82,63,140,0) 40%);
		background-color: #3B2F63;
	}

	h1, h2, h3, p { color: $white; }
	a { color: crimson; }
}
