%paddingBottom80 { padding-bottom: 80px; }
$themeGray: #5a5a5a;

.mainSection {
	position: relative;
	width: 100%;
	//background: $black url('../img/20bg.jpg') repeat left top;
	background-size: cover;
	z-index: 2;
}

.section {

	&__Header {
		padding: 80px 0;
		color: $themeGray;
		@extend %h-under;
	}

	&__Title {
		position: relative;
		display: inline-block;
		margin: 0;
		font: lighter normal 5em/1 $museo;
		color: inherit;
		text-transform: uppercase;

			&--isWhite { color: $white!important; }

			&:after {
				display: none;
				content: '';
				position: absolute;
				bottom: -15%;
				left: 0;
				width: 90px;
				height: 5px;
				//margin-left: -45px;
				background-color: $black;
			}
	}

	&__underTitle {
		margin: 0;
		font: normal normal 2em/1 $museo;
		text-transform: uppercase;
		color: inherit;
	}

	&__Article {
		p {
			color: $themeGray;
			column-count: 2;
			column-gap: 50px;
		}
	}

	&--isBlack { background-color: $black; }
	&--isBlue { background-color: $blue; }
}

.portfolio {
	position: relative;
	width: 100%;

		&__Grid {
			@include clearfix();
			position: relative;
			width: 100%;

				&--quart {
					width: 25%;
					float: left;
				}
				&--third {
					width: 33.33%;
					float: left;
				}
				&--half {
					width: 50%;
					float: left;
				}
				&--full {
					width: 100%;
					float: left;
				}
		}

		&__item {
			position: relative;
			overflow: hidden;
			background-color: $black;
			transform: scale(1);
			transition: all 300ms;

			& > img { opacity: .5; }
			p { margin: 0; }
			article, div {
				@include position(absolute, 0 0 0 0);
				@include size(100%);
				padding-top: 10%;
				opacity: 0;
				text-align: center;
				transform: scale(1);
				transition: all 300ms;
					h3, p, a {
						color: $white;
						font-family: $proxima;
					}
			}

			&:hover {
				article, div {
					opacity: 1;
					transform: scale(1.2);
				}
			}
			&:active {
				outline: 0;
				transform: scale(0.95);
			}

			&--placeholder {
				article, div { opacity: 1!important; }
				&:hover {
					article, div { transform: scale(1)!important; }
				}
			}

			&--blue { background-color: $blue; }
			&--fb { background-color: #485e88; }
			&--red { background-color: $red; }
			&--yellow { background-color: $yellow; }
			&--stumbleupon { background-color: $stumbleupon; }
			&--wp { background-color: $wordpress; }
			&--gold { background-color: #f1c12e; }
			&--green { background-color: #005d77; }
			&--black { background-color: $black; }
			&--pink { background-color: #ee4a86; }
			&--purple { background-color: #331c33; }
			&--jade { background-color: #30a2ad }
		}

		&__contactBtn {
			display: inline-block;
			padding: 10px 20px;
			border: 1px solid $white;
				&:hover, &:active {
					border-style: dashed;
				}
		}
}

.about {
	position: relative;
	width: 100%;
	@extend %paddingBottom80;
}

.contact {
	@extend %paddingBottom80;
	overflow: hidden;
	background: transparent url('../img/bg-contact-2.jpg') no-repeat top left;
	background-size: cover;
		&__formBlock {  }
		&__form {
			@include span-columns(6);
			input, textarea {
				width: 100%;
				padding: 15px;
				border-radius: 0;
			}
		}
		&__submit {
			cursor: not-allowed!important;
			background-color: $red!important;
		}
		&__submit--isDisabled {
			background-color: $themeGray!important;
		}
}

