@media screen and (max-width: 1360px) {
	.portfolio {
		&__item {
			article, div { padding: 10%; }
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
	.portfolio {
		&__Grid--quart {
			width: 33.33%;
		}
	}
}

@media screen and (max-width: 1359px) {
	.center, .teaser__Wrapper { padding-left: 20px; padding-right: 20px; }
}

@media screen and (max-width: 1023px) {
	.center, .teaser__Wrapper { padding-left: 20px; padding-right: 20px; }

	.teaser {
		height: 50%;
		&__Title { font-size: 3.5em; }
	}
	.section {
		&__Title { font-size: 2.5em; }
		&__Header { padding: 40px; }
	}

	.portfolio {
		&__item {
			article, div { padding-top: 20%; }
		}
		&__Grid--quart {
			width: 50%;
		}
	}

	.about, .contact { padding-bottom: 40px; }
}

@media screen and (max-width: 767px) {
	.center, .teaser__Wrapper { max-width: 600px;  }
	.section__Article {
		p { column-count: initial; }
	}
	.contact__form { width: 100%; }
}

@media screen and (max-width: 520px) {
	.teaser__Title, .section__Header {
		text-align: center;
	}
	.portfolio {
		&__item {
			cursor: pointer;
			&:hover {
				article { transform: scale(1); }
			}
		}
		&__Grid {
			article {
				opacity: 1;
			}
			&--quart {
				width: 100%;
			}
		}
		cursor: auto;
	}
	.map { display: none; }
}