.teaser {
	position: relative;
	height: 100%;
	background: transparent url("../img/section-08.jpg") no-repeat center;
	background-size: cover;
	z-index: 1;

	&__Wrapper {
		//@include center;
		position: relative;
		top: 35%;
		max-width: 1088px;
		width: 100%;
		margin: 0 auto;
	}

	&__Title {
		position: relative;
		margin: 0;
		font: bold normal 7em/1 $proxima;
		color: $white;
		//text-align: center;
		text-transform: uppercase;
		animation: getin 1.5s;

			span {
				display: block;
				width: 100%;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -15%;
				left: 0;
				width: 90px;
				height: 5px;
				//margin-left: -45px;
				background-color: $white;
			}
	}
}

// .customLetter {
// 	position: relative;
// 	display: inline-block;
// 	border-bottom: 5px solid $white;

// 	&--first {
// 		padding-left: 20px;
// 		padding-right: 20px;
// 		border: 5px solid $white;
// 	}
// }