// Visual helpers
// address, blockquote, h1, h2, h3, h4, h5, h6, p, pre { outline: 1px solid #b94a48 !important; }
// dd, dl, dt, ol, ul { outline: 1px solid #468847 !important; }
// div, form, table { outline: 1px solid #3a87ad !important; }

// OBJECTS
.g-float-Left {
	float: left !important;
}

.g-float-Right {
	float: right !important;
}

.g-clear {
	clear: both !important;
}

.g-relative {
	position: relative !important;
}

.g-absolute {
	position: absolute !important;
}

.g-text-Left {
	text-align: left !important;
}

.g-text-Center {
	text-align: center !important;
}

.g-text-Right {
	text-align: right !important;
}

.g-hidden {
	visibility: hidden !important;
}

.g-none {
	display: none !important;
}

.g-fs0 {
	font-size: 0 !important;
}

.g-table {
	display: table;
	width: 100%;
}

.g-table__Cell {
	display: table-cell;
}

.g-width__Two {
	width: 15% !important;
}

.g-width__Three {
	width: 23.5% !important;
}

.g-width__Four {
	width: 32% !important;
}

.g-width__Five {
	width: 40.5% !important;
}

.g-width__Six {
	width: 49% !important;
}

.g-width__Seven {
	width: 57.5% !important;
}

.g-width__Eight {
	width: 66% !important;
}

.g-width__Twelve {
	width: 100% !important;
}

.g-shift__One {
	margin-left: 8.5% !important;
}

.g-shift__Two {
	margin-left: 17% !important;
}

.g-shift__Three {
	margin-left: 25.5% !important;
}

.g-shift__Four {
	margin-left: 34% !important;
}

.g-shift__Five {
	margin-left: 42.5% !important;
}

.g-shift__Six {
	margin-left: 51% !important;
}

.g-last {
	margin-right: 0 !important;
}

.g-first {
	margin-left: 0 !important;
}

.center {
	@include outer-container;
	padding-left: 10px;
	padding-right: 10px;
	//box-sizing: content-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

* {
	box-sizing: border-box;
}

::selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

// MIXINS
// More button
@mixin readMore($fsize, $fcolor, $hcolor) {
	font-size: em($fsize, 16);
	font-family: $museo;
	color: $fcolor;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: color 100ms;
	will-change: color;
	&:after {
		content: none !important;
	}
	&:hover {
		transition: color 100ms;
		color: $hcolor;
	}
	i {
		margin-right: 10px;
	}
	span {
		display: block;
		//margin-left: 20px;
		text-transform: none;
		font-style: italic;
	}
}

@mixin moreButton($fgcolor: $white, $bgcolor: $brand, $fghover: $bgcolor, $bghover: $fgcolor) {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	padding: 12px 30px;
	font-family: $museo;
	background: $bgcolor;
	color: $fgcolor;
	text-decoration: none;
	border: 0;
	position: relative;
	font-weight: $bold;
	transition: 300ms;
	&:hover {
		color: $fghover;
		border-color: $bghover;
		&:before {
			opacity: 1;
			right: -40px;
			left: -40px;
		}
	}
	&:before {
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		transform: skew(40deg);
		background: $bghover;
		left: 50%;
		right: 50%;
		opacity: 0;
		transition: 300ms;
	}
}

.t-moreButton {
	@include moreButton;
}

// OBJECTS
// Select form
.t-input-Select {
	background: $gray;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	transition: 200ms;
	backface-visibility: hidden;
	margin-right: 10px;
	option {
		background: transparent;
	}
	&:hover {
		background: darken($gray, 5%);
		&:after {
			background-color: darken($gray, 5%);
		}
	}
	&:active {
		transform: scale(0.97);
		transition: 60ms;
	}
	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 40px;
		height: 100%;
		line-height: 43px;
		font-size: em(12px);
		color: darken($white, 40%);
		top: 0;
		right: 0;
		text-align: center;
		background: no-repeat center center;
		background-color: $gray;
		pointer-events: none;
		transition: 200ms;
	}
	select {
		border: 0;
		-webkit-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		padding: 9px 10px 8px;
		outline: none;
		cursor: pointer;
		color: darken($white, 70%);
		display: block;
		background: $white;
		background: transparent;
		padding-right: 40px;
		display: block;
	}
	select[disabled] {
		color: rgba(0, 0, 0, 0.3);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	cursor: pointer;
	outline: none !important;
}

strong {
	font-weight: $bold;
}
