/*

Style: Alen Pokorni
Description: Animations

*/
.zas-anim {
	transition: transform 1s;
	transform: translate3d(0,-310px,0);
	will-change: auto;
}

.jump-wrp {
	//animation: jump 0.6s normal ease-in-out;
	animation: jump 0.5s; 
}
.jump {
	//animation: jump 0.6s normal ease-in-out;
	animation: jump-pixels 0.5s; 
}
.jump--left {
	//animation: jump 0.6s normal ease-in-out;
	animation: jump-pixels--left 0.5s; 
}
.canonAnim { animation: gun $time*3 normal infinite linear; }

@keyframes loaderAnim {
  0%,
  100% {	box-shadow: 0em -3em 0em 0.2em $white, 2em -2em 0 0em  $white, 3em 0em 0 -0.5em $white, 2em 2em 0 -0.5em $white, 0em 3em 0 -0.5em $white, -2em 2em 0 -0.5em $white, -3em 0em 0 -0.5em $white, -2em -2em 0 0em $white; }
  12.5% { box-shadow: 0em -3em 0em 0em $white, 2em -2em 0 0.2em $white, 3em 0em 0 0em $white, 2em 2em 0 -0.5em $white, 0em 3em 0 -0.5em $white, -2em 2em 0 -0.5em $white, -3em 0em 0 -0.5em $white, -2em -2em 0 -0.5em $white; }
  25% { box-shadow: 0em -3em 0em -0.5em $white, 2em -2em 0 0em $white, 3em 0em 0 0.2em $white, 2em 2em 0 0em $white, 0em 3em 0 -0.5em $white, -2em 2em 0 -0.5em $white, -3em 0em 0 -0.5em $white, -2em -2em 0 -0.5em $white; }
  37.5% { box-shadow: 0em -3em 0em -0.5em $white, 2em -2em 0 -0.5em $white, 3em 0em 0 0em $white, 2em 2em 0 0.2em $white, 0em 3em 0 0em $white, -2em 2em 0 -0.5em $white, -3em 0em 0 -0.5em $white, -2em -2em 0 -0.5em $white; }
  50% { box-shadow: 0em -3em 0em -0.5em $white, 2em -2em 0 -0.5em $white, 3em 0em 0 -0.5em $white, 2em 2em 0 0em $white, 0em 3em 0 0.2em $white, -2em 2em 0 0em $white, -3em 0em 0 -0.5em $white, -2em -2em 0 -0.5em $white; }
  62.5% { box-shadow: 0em -3em 0em -0.5em $white, 2em -2em 0 -0.5em $white, 3em 0em 0 -0.5em $white, 2em 2em 0 -0.5em $white, 0em 3em 0 0em $white, -2em 2em 0 0.2em $white, -3em 0em 0 0em $white, -2em -2em 0 -0.5em $white; }
  75% { box-shadow: 0em -3em 0em -0.5em $white, 2em -2em 0 -0.5em $white, 3em 0em 0 -0.5em $white, 2em 2em 0 -0.5em $white, 0em 3em 0 -0.5em $white, -2em 2em 0 0em $white, -3em 0em 0 0.2em $white, -2em -2em 0 0em $white; }
  87.5% { box-shadow: 0em -3em 0em 0em $white, 2em -2em 0 -0.5em $white, 3em 0em 0 -0.5em $white, 2em 2em 0 -0.5em $white, 0em 3em 0 -0.5em $white, -2em 2em 0 0em $white, -3em 0em 0 0em $white, -2em -2em 0 0.2em $white; }
}
	@keyframes moveMario {
		from { transform: translate3d(0,-700px,0); }
		to { transform: translate3d(0,130px,0); }
	}

	@keyframes gun {
		from { transform: translate3d(100px,0,0); }
		to { transform: translate3d(-2000px,0,0); }
	}

	@keyframes moveclouds {
		from { transform: translate3d(1000px,0,0); }
		to { transform: translate3d(-1000px,0,0); }
	}

	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	@keyframes jump {
		0% { transform: translate3d(0,130px,0); animation-timing-function: ease-in; }
		50% { transform: translate3d(0,-10px,0); animation-timing-function: ease-out; }
		100% { transform: translate3d(0,130px,0); }
	}
	/*
	 * KeyFrames animations
	 */
	@keyframes jump-pixels {
	 0% { @include draw($mario_jump); transform: translate3d(0,0,0); animation-timing-function: ease-in; }
		50% { @include draw($mario_jump); transform: translate3d(0,-($pixel_size * 10),0); animation-timing-function: ease-out; }
		100% { @include draw($mario_jump); transform: translate3d(0,-($pixel_size * 15),0); animation-timing-function: ease-out; }
	}

	@keyframes jump-pixels--left {
	 0% { @include draw($mario_jump--left); transform: translate3d(0,0,0); animation-timing-function: ease-in; }
		50% { @include draw($mario_jump--left); transform: translate3d(0,-($pixel_size * 10),0); animation-timing-function: ease-out; }
		100% { @include draw($mario_jump--left); transform: translate3d(0,-($pixel_size * 15),0); animation-timing-function: ease-out; }
	}