/*

Style: Alen Pokorni
Description: Helper functions

*/
$pixel: 3px;
$pixel2: 3px;
$pos: 200px;

@function in($c) { @return $pos * $c; }
@function p($c) { @return $pixel * $c; }

$white: #fff;
$black: #000;
$green: rgb(84,169,122);
$blue: rgba(114,183,237,.75);

.isHidden { visibility: hidden;  opacity: 0;  transition: opacity 0.2s; }
.isVisible { visibility: visible; opacity: 1;  transition: opacity 0.2s; }

.isNone { display: none; }
.isBlock { display: block; }

.marioIsHidden { transform: translate3d(0,-700px,0); }
.marioIsVisible { transform: translate3d(0,130px,0); }
.move-mario { animation: moveMario 1s ease-in-out; }

.qbox-up { transform: translate3d(0,-40px,0); }
.qbox-down { transform: translate3d(0,-35px,0); }
.coin-up { transform: translate3d(0,-25px,0); }
.coin-down { transform: translate3d(0,-0,0); }

%abs-wh { position: absolute; width: 100%; height: 100%; }
%wh { width: 100%; height: 100%; }
