/*

Style: Alen Pokorni
Description: Main style

*/
*, *:before, *:after { box-sizing: border-box; }
* { margin: 0; padding: 0; }
body { overflow: hidden; }

	//-----------------------------------------------------------o 
	//	Loader
	//-----------------------------------------------------------o
	.loaderWrapper {
		position: absolute;
		width: 100%;
		 height: 100%;
		 background-color: rgba(114,183,237,.75);
		 z-index: 99999;
	}		
		.loader {
			position: absolute;
			top: 40%;
			left: 50%; 
			width: 1em;
		  height: 1em;
		  margin: 5em auto;
		  font-size: 1.2em;
		  text-indent: -9999em;
		  animation: loaderAnim 1.3s infinite linear;
		}

	//-----------------------------------------------------------o 
	//	End game overlay
	//-----------------------------------------------------------o
	%fgame {
		font: bold 2em 'Geostar Fill', cursive;
		color: $white;
		text-shadow: 1px 1px $black;
	}
	.overlay {
		@extend %abs-wh;
		z-index: 1000;
		background-color: $blue;
		overflow: hidden;
			div {
				position: relative;
				@extend %wh; 
				text-align: center;
					p {
						@extend %fgame; 
						display: block;
						margin-top: 5%;
						font-size: 5em!important;
					}
			}
	}
		.counter2 {
			cursor: pointer;
			transform: scale(1);
			transition: scale 200ms;
				&:active {
					transform: scale(0.95);
					transition: scale 200ms;
				}
		}	    
	
	.gameStartWrapper {
		z-index: 11;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 20px;
		background-color: $blue;
		.gameStart {
			position: relative;
			width: 860px;
			margin: 0 auto;
		}
			.controls {
				padding: 50px 20px;
			}
			h1, span, p {
				color: $white;
				text-align: center;
				@extend %fgame;
			}
			span { display: inline-block; margin-right: 50px; }
			h1 { font-size: 5em; }
			p { font-size: 1.5em; }
			.term { font-size: 1.5em; letter-spacing: 0.2em; }
			.start {
				margin-top: 50px;
				font-size: 5em;
				transform: scale(1);
				transition: transform 400ms;
				cursor: pointer;
				&:active {
					transform: scale(0.95);
					transition: transform 400ms;
				}
			}
	}


	//-----------------------------------------------------------o 
	//	Game score
	//-----------------------------------------------------------o
	.score {
		z-index: 100;
		position: absolute;
		top: 1%;
		right: 5%;
			& > p {
				display: inline-block;
				float: left;
				font: normal bold 2em/1 Verdana, Geneva, sans-serif;
				color: $white;
				text-shadow: 1px 1px 1px #333333;
			}
	}

	//-----------------------------------------------------------o 
	//	Sky
	//-----------------------------------------------------------o
	.clouds {
		position: absolute;
		top: 0;
		width: 100%;
		height: 80%;
		background: #c9dbe9;
		background: -webkit-linear-gradient(top, #c9dbe9 0%, $white 100%);
		background: -linear-gradient(top, #c9dbe9 0%, $white 100%);
		background: -moz-linear-gradient(top, #c9dbe9 0%, $white 100%);
	}

		.cloud {
			z-index: 2;
			position: relative; 
			width: 200px;
			height: 60px;
			background: $white;
			border-radius: 200px;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
				&:before, &:after {
					position: absolute;
					top: -15px;
					left: 10px;
					width: 100px;
					height: 80px;
					content: '';
					background: $white;
					border-radius: 100px;
					transform: rotate(30deg);
					will-change: transform; 
				}
				&:after {
					width: 120px;
					height: 120px;
					top: -55px;
					left: auto;
					right: 15px;
				}
		}
			.x1 { animation: moveclouds 40s linear infinite; }

			.x2 {
				left: 300px;
				transform: scale(0.6);
				opacity: 0.6;
				animation: moveclouds 35s linear infinite;
				will-change: transform; 
			}

			.x3 {
				left: -250px;
				top: -200px;
				transform: scale(0.8);
				opacity: 0.8;
				animation: moveclouds 30s linear infinite;
				will-change: transform; 
			}

			.x4 {
				left: 470px;
				top: -250px;
				transform: scale(0.75);
				opacity: 0.75;
				animation: moveclouds 25s linear infinite;
				will-change: transform; 
			}

			.x5 {
				left: -150px;
				top: -150px;
				transform: scale(0.8);
				opacity: 0.8;
				animation: moveclouds 20s linear infinite;
				will-change: transform; 
			}

			.sun {
				z-index: 1;
				position: absolute;
				left: 5%;
				top: 5%;
				width: 100px;
				height: 100px;
				background: #FDB813;
				border-radius: 200px;
			}
	//-----------------------------------------------------------o 
	//	Gun
	//-----------------------------------------------------------o

	.cannon_wrapper {
		position: absolute;
		bottom: 200px;
		width: 100%;
		height: 100px;
	}
		.cannon, .cannon2 {
			z-index: 2;
			position: absolute;
			right: 0.5%;
			background: $black;
		}
		.cannon {
			width: 50px;
			height: 20px;
			bottom: 120px;
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
		}
		.cannon2 {
			width: 50px;
			height: 160px;
			bottom: 0;
				&:before {
					position: absolute;
					content: '';
					background-color: red;
					width: 50px;
					height: 50px;
					right: 50%;
					border-top-left-radius: 50%;
					border-bottom-left-radius: 50%;	
				}
		}

	//-----------------------------------------------------------o 
	//	Hills
	//-----------------------------------------------------------o
		.hills {
			@extend %posa;
			width: 100%;
			bottom: 195px;
		}
		.Hills {
			@extend %posa;
			top: -155px;
			width: 100%;
		}
		.hilll {
			@extend %posa;
			height: auto;	
		}
			
			.hilll-0 {
				width: 300px;
				left: in(1);
				border-bottom: 150px solid $green;
				border-left: in(1.2) solid transparent;
				border-right: in(1.25) solid transparent;
			}
			.hilll-1 {
				width: 300px;
				left: in(2);
				border-bottom: 150px solid darken($green, 12%);
				border-left: in(0.5) solid transparent;
				border-right: in(0.95) solid transparent;
			}
			.hilll-2 {
				width: 300px;
				left: in(1.5);
				border-bottom: 150px solid darken($green, 8%);
				border-left: in(2) solid transparent;
				border-right: in(1) solid transparent;
			}
			.hilll-3 {
				width: 300px;
				left: in(3);
				border-bottom: 150px solid darken($green, 4%);
				border-left: in(1.5) solid transparent;
				border-right: in(2.2) solid transparent;
			}
			.hilll-4 {
				width: 300px;
				left: in(5);
				border-bottom: 150px solid darken($green, 2%);
				border-left: in(1) solid transparent;
				border-right: in(2) solid transparent;
			}

	//-----------------------------------------------------------o 
	//	Quest
	//-----------------------------------------------------------o	
	.m-wrapper {
		position: absolute;
		bottom: 400px;
		width: 100%;
	}
		.mario {
			z-index: 3;
			position: absolute;
			width: 50px;
			height: 80px;
			left: 50px;
			//border: 1px solid red;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
			bottom: -70px;
			// width: 100px;
			// height: 100px;
			//bottom: -204px;
		}
		.questbox {
			position: absolute;
			width: 48px;
			height: 64px;
			z-index: 10;
			transform: translate3d 200ms;
		}
			.coin {
				position: absolute;
				left: 17px;
				width: 17px;
				height: 23px; 
				background: url('../animations/coin.png') no-repeat center;
				transform: translate3d 200ms;
			}
			.sprite-question-box {
				position: absolute;
				height: $pixel;
				width: $pixel;
				box-shadow:
							/* Red 1 */
									p(1) 0 0 #d8b018,
									p(2) 0 0 #d8b018,
									p(3) 0 0 #d8b018,
									p(4) 0 0 #d8b018,
									p(5) 0 0 #d8b018,
									p(6) 0 0 #d8b018,
									p(7) 0 0 #d8b018,
									p(8) 0 0 #d8b018,
									p(9) 0 0 #d8b018,
								 p(10) 0 0 #d8b018,
								 p(11) 0 0 #d8b018,
								 p(12) 0 0 #d8b018,
								 p(13) 0 0 #d0a820,
								 p(14) 0 0 #d0a820,
							/* Red 2 */
									0 p(1) 0 #d8b018,
							 p(1) p(1) 0 #e8c030,
							 p(2) p(1) 0 #f8f8f8,
							 p(3) p(1) 0 #f8f8f8,
							 p(4) p(1) 0 #f8e888,
							 p(5) p(1) 0 #f8e888,
							 p(6) p(1) 0 #f8e888,
							 p(7) p(1) 0 #f8e888,
							 p(8) p(1) 0 #f8e888,
							 p(9) p(1) 0 #f8e888,
							p(10) p(1) 0 #f8e888,
							p(11) p(1) 0 #f8e888,
							p(12) p(1) 0 #f8d028,
							p(13) p(1) 0 #f8d028,
							p(14) p(1) 0 #c8a018,
							p(15) p(1) 0 #884810,
							/* Red 3 */
									0 p(2) 0 #d8b018,
							 p(1) p(2) 0 #f8e888,
							 p(2) p(2) 0 #602800,
							 p(3) p(2) 0 #e0b018,
							 p(4) p(2) 0 #e0b018,
							 p(5) p(2) 0 #e0b018,
							 p(6) p(2) 0 #e0b018,
							 p(7) p(2) 0 #e0b018,
							 p(8) p(2) 0 #d8b018,
							 p(9) p(2) 0 #d8b018,
							p(10) p(2) 0 #d8b018,
							p(11) p(2) 0 #d8b018,
							p(12) p(2) 0 #d0a820,
							p(13) p(2) 0 #602800,
							p(14) p(2) 0 #b08018,
							p(15) p(2) 0 #602800,
							/* Red 4 */
									0 p(3) 0 #d8b018,
							 p(1) p(3) 0 #f8e888,
							 p(2) p(3) 0 #e0b018,
							 p(3) p(3) 0 #e0b018,
							 p(4) p(3) 0 #f8f8f8,
							 p(5) p(3) 0 #f8f8f8,
							 p(6) p(3) 0 #f8f8f8,
							 p(7) p(3) 0 #f8f8f8,
							 p(8) p(3) 0 #f8f8f8,
							 p(9) p(3) 0 #f8f8f8,
							p(10) p(3) 0 #f8f8f8,
							p(11) p(3) 0 #f8f8f8,
							p(12) p(3) 0 #e0b018,
							p(13) p(3) 0 #d0a820,
							p(14) p(3) 0 #b08018,
							p(15) p(3) 0 #602800,
							/* Red 5 */
									0 p(4) 0 #d8b018,
							 p(1) p(4) 0 #f8d028,
							 p(2) p(4) 0 #e0b018,
							 p(3) p(4) 0 #f8f8f8,
							 p(4) p(4) 0 #f8f8f8,
							 p(5) p(4) 0 #f8f8f8,
							 p(6) p(4) 0 #f8f8f8,
							 p(7) p(4) 0 #f8f8f8,
							 p(8) p(4) 0 #f8f8f8,
							 p(9) p(4) 0 #f8f8f8,
							p(10) p(4) 0 #f8f8f8,
							p(11) p(4) 0 #f8f8f8,
							p(12) p(4) 0 #f8f8f8,
							p(13) p(4) 0 #884810,
							p(14) p(4) 0 #b08018,
							p(15) p(4) 0 #602800,
							/* Red 6 */
									0 p(5) 0 #d8b018,
							 p(1) p(5) 0 #f8d028,
							 p(2) p(5) 0 #e0b018,
							 p(3) p(5) 0 #f8f8f8,
							 p(4) p(5) 0 #f8f8f8,
							 p(5) p(5) 0 #f8f8f8,
							 p(6) p(5) 0 #884810,
							 p(7) p(5) 0 #884810,
							 p(8) p(5) 0 #884810,
							 p(9) p(5) 0 #884810,
							p(10) p(5) 0 #f8f8f8,
							p(11) p(5) 0 #f8f8f8,
							p(12) p(5) 0 #f8f8f8,
							p(13) p(5) 0 #884810,
							p(14) p(5) 0 #b08018,
							p(15) p(5) 0 #602800,
							/* Red 7 */
									0 p(6) 0 #d0a820,
							 p(1) p(6) 0 #e8c030,
							 p(2) p(6) 0 #e0b018,
							 p(3) p(6) 0 #f8f8f8,
							 p(4) p(6) 0 #f8f8f8,
							 p(5) p(6) 0 #f8f8f8,
							 p(6) p(6) 0 #b08018,
							 p(7) p(6) 0 #d8b018,
							 p(8) p(6) 0 #d8b018,
							 p(9) p(6) 0 #d8b018,
							p(10) p(6) 0 #f8f8f8,
							p(11) p(6) 0 #f8f8f8,
							p(12) p(6) 0 #f8f8f8,
							p(13) p(6) 0 #884810,
							p(14) p(6) 0 #986018,
							p(15) p(6) 0 #602800,
							/* Red 8 */
									0 p(7) 0 #d0a820,
							 p(1) p(7) 0 #e8c030,
							 p(2) p(7) 0 #e0b018,
							 p(3) p(7) 0 #884810,
							 p(4) p(7) 0 #884810,
							 p(5) p(7) 0 #884810,
							 p(6) p(7) 0 #d0a820,
							 p(7) p(7) 0 #f8f8f8,
							 p(8) p(7) 0 #f8f8f8,
							 p(9) p(7) 0 #f8f8f8,
							p(10) p(7) 0 #f8f8f8,
							p(11) p(7) 0 #f8f8f8,
							p(12) p(7) 0 #f8f8f8,
							p(13) p(7) 0 #884810,
							p(14) p(7) 0 #986018,
							p(15) p(7) 0 #602800,
							/* Red 9 */
									0 p(8) 0 #d0a820,
							 p(1) p(8) 0 #e8c030,
							 p(2) p(8) 0 #d8b018,
							 p(3) p(8) 0 #d8b018,
							 p(4) p(8) 0 #d8b018,
							 p(5) p(8) 0 #d8b018,
							 p(6) p(8) 0 #f8f8f8,
							 p(7) p(8) 0 #f8f8f8,
							 p(8) p(8) 0 #f8f8f8,
							 p(9) p(8) 0 #f8f8f8,
							p(10) p(8) 0 #f8f8f8,
							p(11) p(8) 0 #f8f8f8,
							p(12) p(8) 0 #d0a820,
							p(13) p(8) 0 #884810,
							p(14) p(8) 0 #986018,
							p(15) p(8) 0 #602800,
							/* Red 10 */
									0 p(9) 0 #c8a018,
							 p(1) p(9) 0 #e0b018,
							 p(2) p(9) 0 #d8b018,
							 p(3) p(9) 0 #d8b018,
							 p(4) p(9) 0 #d8b018,
							 p(5) p(9) 0 #d0a820,
							 p(6) p(9) 0 #f8f8f8,
							 p(7) p(9) 0 #f8f8f8,
							 p(8) p(9) 0 #f8f8f8,
							 p(9) p(9) 0 #f8f8f8,
							p(10) p(9) 0 #884810,
							p(11) p(9) 0 #884810,
							p(12) p(9) 0 #884810,
							p(13) p(9) 0 #c8a018,
							p(14) p(9) 0 #986018,
							p(15) p(9) 0 #602800,
							/* Red 11 */
									0 p(10) 0 #b08018,
							 p(1) p(10) 0 #e0b018,
							 p(2) p(10) 0 #d8b018,
							 p(3) p(10) 0 #d8b018,
							 p(4) p(10) 0 #d0a820,
							 p(5) p(10) 0 #d0a820,
							 p(6) p(10) 0 #f8f8f8,
							 p(7) p(10) 0 #f8f8f8,
							 p(8) p(10) 0 #f8f8f8,
							 p(9) p(10) 0 #f8f8f8,
							p(10) p(10) 0 #884810,
							p(11) p(10) 0 #c8a018,
							p(12) p(10) 0 #c8a018,
							p(13) p(10) 0 #c8a018,
							p(14) p(10) 0 #884810,
							p(15) p(10) 0 #602800,
							/* Red 12 */
									0 p(11) 0 #b08018,
							 p(1) p(11) 0 #d8b018,
							 p(2) p(11) 0 #d8b018,
							 p(3) p(11) 0 #d0a820,
							 p(4) p(11) 0 #d0a820,
							 p(5) p(11) 0 #d0a820,
							 p(6) p(11) 0 #b08018,
							 p(7) p(11) 0 #884810,
							 p(8) p(11) 0 #884810,
							 p(9) p(11) 0 #884810,
							p(10) p(11) 0 #884810,
							p(11) p(11) 0 #c8a018,
							p(12) p(11) 0 #c8a018,
							p(13) p(11) 0 #c8a018,
							p(14) p(11) 0 #884810,
							p(15) p(11) 0 #602800,
							/* Red 13 */
									0 p(12) 0 #b08018,
							 p(1) p(12) 0 #d8b018,
							 p(2) p(12) 0 #d0a820,
							 p(3) p(12) 0 #d0a820,
							 p(4) p(12) 0 #d0a820,
							 p(5) p(12) 0 #d0a820,
							 p(6) p(12) 0 #f8f8f8,
							 p(7) p(12) 0 #f8f8f8,
							 p(8) p(12) 0 #f8f8f8,
							 p(9) p(12) 0 #f8f8f8,
							p(10) p(12) 0 #884810,
							p(11) p(12) 0 #c8a018,
							p(12) p(12) 0 #c8a018,
							p(13) p(12) 0 #c8a018,
							p(14) p(12) 0 #884810,
							p(15) p(12) 0 #602800,
							/* Red 14 */
									0 p(13) 0 #b08018,
							 p(1) p(13) 0 #c8a018,
							 p(2) p(13) 0 #602800,
							 p(3) p(13) 0 #b08018,
							 p(4) p(13) 0 #b08018,
							 p(5) p(13) 0 #b08018,
							 p(6) p(13) 0 #f8f8f8,
							 p(7) p(13) 0 #f8f8f8,
							 p(8) p(13) 0 #f8f8f8,
							 p(9) p(13) 0 #f8f8f8,
							p(10) p(13) 0 #884810,
							p(11) p(13) 0 #b08018,
							p(12) p(13) 0 #b08018,
							p(13) p(13) 0 #602800,
							p(14) p(13) 0 #884810,
							p(15) p(13) 0 #602800,
							/* Red 15 */
									0 p(14) 0 #884810,
							 p(1) p(14) 0 #986018,
							 p(2) p(14) 0 #986018,
							 p(3) p(14) 0 #986018,
							 p(4) p(14) 0 #986018,
							 p(5) p(14) 0 #986018,
							 p(6) p(14) 0 #884810,
							 p(7) p(14) 0 #884810,
							 p(8) p(14) 0 #884810,
							 p(9) p(14) 0 #884810,
							p(10) p(14) 0 #884810,
							p(11) p(14) 0 #986018,
							p(12) p(14) 0 #986018,
							p(13) p(14) 0 #986018,
							p(14) p(14) 0 #884810,
							p(15) p(14) 0 #602800,
							/* Red 16 */
							 p(1) p(15) 0 #602800,
							 p(2) p(15) 0 #602800,
							 p(3) p(15) 0 #602800,
							 p(4) p(15) 0 #602800,
							 p(5) p(15) 0 #602800,
							 p(6) p(15) 0 #602800,
							 p(7) p(15) 0 #602800,
							 p(8) p(15) 0 #602800,
							 p(9) p(15) 0 #602800,
							p(10) p(15) 0 #602800,
							p(11) p(15) 0 #602800,
							p(12) p(15) 0 #602800,
							p(13) p(15) 0 #602800,
							p(14) p(15) 0 #602800;
			}
		.hole {
			z-index: 5;
			position: absolute;
			bottom: -400px;
			width: 100px;
			height: 200px; 
			background-color: $white;
		}	
		.endGame, %posa { position: absolute; }
		.endGame {
			z-index: 2;
			bottom: -205px;
			right: 10%;
			width: 40px;
			height: 400px;
		}
			.zastava-outer {
				@extend %posa;
				right: 23px;
				bottom: 40px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 40px 50px 0;
				border-color: transparent $green transparent transparent;
			}
				.zastava-inner {
					position: relative;
					top: 1px;
					left: 1px;
					width: 0;
					height: 0;
					padding: 2px;
					border-style: solid;
					border-width: 0 38px 48px 0;
					border-color: transparent $white transparent transparent;
						p {
							margin-top: .2em;
							margin-left: 1em;
							color: $green;
							font-family: sans-serif;
						}
				}
			
			.vrh {
				@extend %posa;
				left: 5px;
				bottom: 400px;
				width: 25px;
				height: 25px;
				border-radius: 50px;
				background-color: $green;
				border: 2px solid $black;
				z-index: 2;
			}
			.motka {
				@extend %posa;
				left: 15px;
				width: 6px;
				height: 380px;
				background-color: $green;
				bottom: 40px;
			}
			.standingBox {
				@extend %posa;
				bottom: 50px;
				width: 40px;
				height: 40px;
			}
			.standing-box {
				position: absolute;
				height: $pixel;
				width: $pixel;
				box-shadow:
						/* Red 1 */
								p(1) 0 0 #d8b018,
								p(2) 0 0 #d8b018,
								p(3) 0 0 #d8b018,
								p(4) 0 0 #d8b018,
								p(5) 0 0 #d8b018,
								p(6) 0 0 #d8b018,
								p(7) 0 0 #d8b018,
								p(8) 0 0 #d8b018,
								p(9) 0 0 #d8b018,
							 p(10) 0 0 #d8b018,
							 p(11) 0 0 #d8b018,
							 p(12) 0 0 #d8b018,
							 p(13) 0 0 #d0a820,
							 p(14) 0 0 #d0a820,
						/* Red 2 */
								0 p(1) 0 #d8b018,
						 p(1) p(1) 0 #e8c030,
						 p(2) p(1) 0 #f8f8f8,
						 p(3) p(1) 0 #f8f8f8,
						 p(4) p(1) 0 #f8e888,
						 p(5) p(1) 0 #f8e888,
						 p(6) p(1) 0 #f8e888,
						 p(7) p(1) 0 #f8e888,
						 p(8) p(1) 0 #f8e888,
						 p(9) p(1) 0 #f8e888,
						p(10) p(1) 0 #f8e888,
						p(11) p(1) 0 #f8e888,
						p(12) p(1) 0 #f8d028,
						p(13) p(1) 0 #f8d028,
						p(14) p(1) 0 #c8a018,
						p(15) p(1) 0 #884810,
						/* Red 3 */
								0 p(2) 0 #d8b018,
						 p(1) p(2) 0 #f8e888,
						 p(2) p(2) 0 #602800,
						 p(3) p(2) 0 #e0b018,
						 p(4) p(2) 0 #e0b018,
						 p(5) p(2) 0 #e0b018,
						 p(6) p(2) 0 #e0b018,
						 p(7) p(2) 0 #e0b018,
						 p(8) p(2) 0 #d8b018,
						 p(9) p(2) 0 #d8b018,
						p(10) p(2) 0 #d8b018,
						p(11) p(2) 0 #d8b018,
						p(12) p(2) 0 #d0a820,
						p(13) p(2) 0 #602800,
						p(14) p(2) 0 #b08018,
						p(15) p(2) 0 #602800,
						/* Red 4 */
								0 p(3) 0 #d8b018,
						 p(1) p(3) 0 #f8e888,
						 p(2) p(3) 0 #602800,
						 p(3) p(3) 0 #e0b018,
						 p(4) p(3) 0 #e0b018,
						 p(5) p(3) 0 #e0b018,
						 p(6) p(3) 0 #e0b018,
						 p(7) p(3) 0 #e0b018,
						 p(8) p(3) 0 #d8b018,
						 p(9) p(3) 0 #d8b018,
						p(10) p(3) 0 #d8b018,
						p(11) p(3) 0 #d8b018,
						p(12) p(3) 0 #d0a820,
						p(13) p(3) 0 #602800,
						p(14) p(3) 0 #b08018,
						p(15) p(3) 0 #602800,
						/* Red 5 */
								0 p(4) 0 #d8b018,
						 p(1) p(4) 0 #f8e888,
						 p(2) p(4) 0 #602800,
						 p(3) p(4) 0 #e0b018,
						 p(4) p(4) 0 #e0b018,
						 p(5) p(4) 0 #e0b018,
						 p(6) p(4) 0 #e0b018,
						 p(7) p(4) 0 #e0b018,
						 p(8) p(4) 0 #d8b018,
						 p(9) p(4) 0 #d8b018,
						p(10) p(4) 0 #d8b018,
						p(11) p(4) 0 #d8b018,
						p(12) p(4) 0 #d0a820,
						p(13) p(4) 0 #602800,
						p(14) p(4) 0 #b08018,
						p(15) p(4) 0 #602800,
						/* Red 6 */
								0 p(5) 0 #d8b018,
						 p(1) p(5) 0 #f8e888,
						 p(2) p(5) 0 #602800,
						 p(3) p(5) 0 #e0b018,
						 p(4) p(5) 0 #e0b018,
						 p(5) p(5) 0 #e0b018,
						 p(6) p(5) 0 #e0b018,
						 p(7) p(5) 0 #e0b018,
						 p(8) p(5) 0 #d8b018,
						 p(9) p(5) 0 #d8b018,
						p(10) p(5) 0 #d8b018,
						p(11) p(5) 0 #d8b018,
						p(12) p(5) 0 #d0a820,
						p(13) p(5) 0 #602800,
						p(14) p(5) 0 #b08018,
						p(15) p(5) 0 #602800,
						/* Red 7 */
								0 p(6) 0 #d8b018,
						 p(1) p(6) 0 #f8e888,
						 p(2) p(6) 0 #602800,
						 p(3) p(6) 0 #e0b018,
						 p(4) p(6) 0 #e0b018,
						 p(5) p(6) 0 #e0b018,
						 p(6) p(6) 0 #e0b018,
						 p(7) p(6) 0 #e0b018,
						 p(8) p(6) 0 #d8b018,
						 p(9) p(6) 0 #d8b018,
						p(10) p(6) 0 #d8b018,
						p(11) p(6) 0 #d8b018,
						p(12) p(6) 0 #d0a820,
						p(13) p(6) 0 #602800,
						p(14) p(6) 0 #b08018,
						p(15) p(6) 0 #602800,
						/* Red 8 */
								0 p(7) 0 #d8b018,
						 p(1) p(7) 0 #f8e888,
						 p(2) p(7) 0 #602800,
						 p(3) p(7) 0 #e0b018,
						 p(4) p(7) 0 #e0b018,
						 p(5) p(7) 0 #e0b018,
						 p(6) p(7) 0 #e0b018,
						 p(7) p(7) 0 #e0b018,
						 p(8) p(7) 0 #d8b018,
						 p(9) p(7) 0 #d8b018,
						p(10) p(7) 0 #d8b018,
						p(11) p(7) 0 #d8b018,
						p(12) p(7) 0 #d0a820,
						p(13) p(7) 0 #602800,
						p(14) p(7) 0 #b08018,
						p(15) p(7) 0 #602800,
						/* Red 9 */
								0 p(8) 0 #d8b018,
						 p(1) p(8) 0 #f8e888,
						 p(2) p(8) 0 #602800,
						 p(3) p(8) 0 #e0b018,
						 p(4) p(8) 0 #e0b018,
						 p(5) p(8) 0 #e0b018,
						 p(6) p(8) 0 #e0b018,
						 p(7) p(8) 0 #e0b018,
						 p(8) p(8) 0 #d8b018,
						 p(9) p(8) 0 #d8b018,
						p(10) p(8) 0 #d8b018,
						p(11) p(8) 0 #d8b018,
						p(12) p(8) 0 #d0a820,
						p(13) p(8) 0 #602800,
						p(14) p(8) 0 #b08018,
						p(15) p(8) 0 #602800,
						/* Red 10 */
								0 p(9) 0 #d8b018,
						 p(1) p(9) 0 #f8e888,
						 p(2) p(9) 0 #602800,
						 p(3) p(9) 0 #e0b018,
						 p(4) p(9) 0 #e0b018,
						 p(5) p(9) 0 #e0b018,
						 p(6) p(9) 0 #e0b018,
						 p(7) p(9) 0 #e0b018,
						 p(8) p(9) 0 #d8b018,
						 p(9) p(9) 0 #d8b018,
						p(10) p(9) 0 #d8b018,
						p(11) p(9) 0 #d8b018,
						p(12) p(9) 0 #d0a820,
						p(13) p(9) 0 #602800,
						p(14) p(9) 0 #b08018,
						p(15) p(9) 0 #602800,
						/* Red 11 */
								0 p(10) 0 #d8b018,
						 p(1) p(10) 0 #f8e888,
						 p(2) p(10) 0 #602800,
						 p(3) p(10) 0 #e0b018,
						 p(4) p(10) 0 #e0b018,
						 p(5) p(10) 0 #e0b018,
						 p(6) p(10) 0 #e0b018,
						 p(7) p(10) 0 #e0b018,
						 p(8) p(10) 0 #d8b018,
						 p(9) p(10) 0 #d8b018,
						p(10) p(10) 0 #d8b018,
						p(11) p(10) 0 #d8b018,
						p(12) p(10) 0 #d0a820,
						p(13) p(10) 0 #602800,
						p(14) p(10) 0 #b08018,
						p(15) p(10) 0 #602800,
						/* Red 12 */
								0 p(11) 0 #d8b018,
						 p(1) p(11) 0 #f8e888,
						 p(2) p(11) 0 #602800,
						 p(3) p(11) 0 #e0b018,
						 p(4) p(11) 0 #e0b018,
						 p(5) p(11) 0 #e0b018,
						 p(6) p(11) 0 #e0b018,
						 p(7) p(11) 0 #e0b018,
						 p(8) p(11) 0 #d8b018,
						 p(9) p(11) 0 #d8b018,
						p(10) p(11) 0 #d8b018,
						p(11) p(11) 0 #d8b018,
						p(12) p(11) 0 #d0a820,
						p(13) p(11) 0 #602800,
						p(14) p(11) 0 #b08018,
						p(15) p(11) 0 #602800,
						/* Red 13 */
								0 p(12) 0 #d8b018,
						 p(1) p(12) 0 #f8e888,
						 p(2) p(12) 0 #602800,
						 p(3) p(12) 0 #e0b018,
						 p(4) p(12) 0 #e0b018,
						 p(5) p(12) 0 #e0b018,
						 p(6) p(12) 0 #e0b018,
						 p(7) p(12) 0 #e0b018,
						 p(8) p(12) 0 #d8b018,
						 p(9) p(12) 0 #d8b018,
						p(10) p(12) 0 #d8b018,
						p(11) p(12) 0 #d8b018,
						p(12) p(12) 0 #d0a820,
						p(13) p(12) 0 #602800,
						p(14) p(12) 0 #b08018,
						p(15) p(12) 0 #602800,
						/* Red 14 */
								0 p(13) 0 #d8b018,
						 p(1) p(13) 0 #f8e888,
						 p(2) p(13) 0 #602800,
						 p(3) p(13) 0 #e0b018,
						 p(4) p(13) 0 #e0b018,
						 p(5) p(13) 0 #e0b018,
						 p(6) p(13) 0 #e0b018,
						 p(7) p(13) 0 #e0b018,
						 p(8) p(13) 0 #d8b018,
						 p(9) p(13) 0 #d8b018,
						p(10) p(13) 0 #d8b018,
						p(11) p(13) 0 #d8b018,
						p(12) p(13) 0 #d0a820,
						p(13) p(13) 0 #602800,
						p(14) p(13) 0 #b08018,
						p(15) p(13) 0 #602800,
						/* Red 15 */
								0 p(14) 0 #884810,
						 p(1) p(14) 0 #986018,
						 p(2) p(14) 0 #986018,
						 p(3) p(14) 0 #986018,
						 p(4) p(14) 0 #986018,
						 p(5) p(14) 0 #986018,
						 p(6) p(14) 0 #884810,
						 p(7) p(14) 0 #884810,
						 p(8) p(14) 0 #884810,
						 p(9) p(14) 0 #884810,
						p(10) p(14) 0 #884810,
						p(11) p(14) 0 #986018,
						p(12) p(14) 0 #986018,
						p(13) p(14) 0 #986018,
						p(14) p(14) 0 #884810,
						p(15) p(14) 0 #602800,
						/* Red 16 */
						 p(1) p(15) 0 #602800,
						 p(2) p(15) 0 #602800,
						 p(3) p(15) 0 #602800,
						 p(4) p(15) 0 #602800,
						 p(5) p(15) 0 #602800,
						 p(6) p(15) 0 #602800,
						 p(7) p(15) 0 #602800,
						 p(8) p(15) 0 #602800,
						 p(9) p(15) 0 #602800,
						p(10) p(15) 0 #602800,
						p(11) p(15) 0 #602800,
						p(12) p(15) 0 #602800,
						p(13) p(15) 0 #602800,
						p(14) p(15) 0 #602800;
		}

	//-----------------------------------------------------------o 
	//	Playground
	//-----------------------------------------------------------o	
	.playground {
		position: absolute;
		bottom: 0;
		width: 125%;
		height: 200px;
		overflow: hidden;
		//border-top: 5px dashed $green; 
		background: rgb(197,152,105) url(../images/ground.jpg) repeat-x left top;
		//background: #f0b7a1; /* Old browsers */
		//background: -moz-linear-gradient(top,  #f0b7a1 0%, #6ba885 0%, #752201 54%, #5e1900 100%); /* FF3.6+ */
		//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(0%,#6ba885), color-stop(54%,#752201), color-stop(100%,#5e1900)); /* Chrome,Safari4+ */
		//background: -webkit-linear-gradient(top,  #f0b7a1 0%,#6ba885 0%,#752201 54%,#5e1900 100%); Chrome10+,Safari5.1+
		//background: -o-linear-gradient(top,  #f0b7a1 0%,#6ba885 0%,#752201 54%,#5e1900 100%); /* Opera 11.10+ */
		//background: -ms-linear-gradient(top,  #f0b7a1 0%,#6ba885 0%,#752201 54%,#5e1900 100%); /* IE10+ */
		//background: linear-gradient(to bottom,  #f0b7a1 0%,#6ba885 0%,#752201 54%,#5e1900 100%); /* W3C */
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#5e1900',GradientType=0 ); /* IE6-9 */
	}
		.column {
			float: left;
			width: 40px;
			height: 25px;
		}
		.box {
			@extend %wh;
			border-right: 1px solid rgba(0,0,0,.15);
			border-bottom: 1px solid rgba(0,0,0,.15);
		}


/*
 * Parameters
 */
$pixel_size: 5px;
$time: 1.5s;
$colors: #D80000 #706800 #F8AB00 #FFA542 #FF6410 #000000;

/*
 * color pixel matrix
 */
$mario_normal: 
  0 0 0 1 1 1 1 1, 
  0 0 1 1 1 1 1 1 1 1 1,
  0 0 2 2 2 3 3 2 3,
  0 2 3 2 3 3 3 2 3 3 3,
  0 2 3 2 2 3 3 3 2 3 3 3,
  0 2 2 3 3 3 3 2 2 2 2,
  0 0 0 3 3 3 3 3 3 3,
  0 0 2 2 1 2 2 2,
  0 2 2 2 1 2 2 1 2 2 2,
  2 2 2 2 1 1 1 1 2 2 2 2,
  3 3 2 1 3 1 1 3 1 2 3 3,
  3 3 3 1 1 1 1 1 1 3 3 3,
  3 3 1 1 1 1 1 1 1 1 3 3,
  0 0 1 1 1 0 0 1 1 1,
  0 2 2 2 0 0 0 0 2 2 2,
  2 2 2 2 0 0 0 0 2 2 2 2;

$mario_jump: 
  0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3,
  0 0 0 0 0 0 1 1 1 1 1 0 0 3 3 3,
  0 0 0 0 0 1 1 1 1 1 1 1 1 1 3 3,
  0 0 0 0 0 2 2 2 3 3 2 3 0 2 2 2,
  0 0 0 0 2 3 2 3 3 3 2 3 3 2 2 2,
  0 0 0 0 2 3 2 2 3 3 3 2 3 3 3 2,
  0 0 0 0 2 2 3 3 3 3 2 2 2 2 2,
  0 0 0 0 0 0 3 3 3 3 3 3 3 2,
  0 0 2 2 2 2 2 1 2 2 2 1 2,
  0 2 2 2 2 2 2 2 1 2 2 2 1 0 0 2,
  3 3 2 2 2 2 2 2 1 1 1 1 1 0 0 2,
  3 3 3 0 1 1 2 1 1 3 1 1 3 1 2 2,
  0 3 0 2 1 1 1 1 1 1 1 1 1 1 2 2,
  0 0 2 2 2 1 1 1 1 1 1 1 1 1 2 2,
  0 2 2 2 1 1 1 1 1 1 1,
  0 2 0 0 1 1 1 1 ;
$mario_jump--left:
	 3 3 3 0 0 0 0 0 0 0 0 0 0 0 0 0,
	 3 3 3 0 0 1 1 1 1 1 0 0 0 0 0 0,
	 3 3 1 1 1 1 1 1 1 1 1 0 0 0 0 0,
	 2 2 2 0 3 2 3 3 2 2 2 0 0 0 0 0,
	 2 2 2 3 3 2 3 3 3 2 3 2 0 0 0 0,
	 2 3 3 3 2 3 3 3 2 2 3 2 0 0 0 0,
	 2 2 2 2 2 3 3 3 3 2 2 0 0 0 0,
	 2 3 3 3 3 3 3 3 0 0 0 0 0 0,
	 2 1 2 2 2 1 2 2 2 2 2 0 0,
	 2 0 0 1 2 2 2 1 2 2 2 2 2 2 2 0,
	 2 0 0 1 1 1 1 1 2 2 2 2 2 2 3 3,
	 2 2 1 3 1 1 3 1 1 2 1 1 0 3 3 3,
	 2 2 1 1 1 1 1 1 1 1 1 1 2 0 3 0,
	 2 2 1 1 1 1 1 1 1 1 1 2 2 2 0 0,
	 1 1 1 1 1 1 1 2 2 2 0,
	 1 1 1 1 0 0 2 0;  
/*
 * Draw Mixin for create box-shadows
 */
@mixin draw ($pixels) {
  $shadow: 0 0 0;
  $row_number: 1;
  @each $row in $pixels {
    $column_number: -8; // Center for better rotateY effect
    @each $color_index in $row {
      @if ($color_index > 0){
        $shadow: $shadow, $column_number * $pixel_size $row_number * $pixel_size nth($colors, $color_index);
      }
      $column_number: $column_number + 1;
    }
    $row_number: $row_number + 1;
  }
  box-shadow: $shadow;
}



.mario-character {
  @include draw($mario_normal);
  //-webkit-animation: jump $time infinite ease-out; 
  

  &, &:before, &:after  {
    margin: 0 auto;
    height: $pixel_size;
    width: $pixel_size;
  } 
  
  &:before, &:after  {
    content: "";
    display: block;
    position: absolute;
    top: $pixel_size * 16;
  }
}

.mario-character--left {
  @include draw($mario_normal);
  transform: scaleX(-1);
  

  &, &:before, &:after  {
    margin: 0 auto;
    height: $pixel_size;
    width: $pixel_size;
  } 
  
  &:before, &:after  {
    content: "";
    display: block;
    position: absolute;
    top: $pixel_size * 16;
  }
}
  
