/*

Style: Alen Pokorni

*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.isHidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.isVisible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.isNone {
  display: none;
}

.isBlock {
  display: block;
}

.marioIsHidden {
  -webkit-transform: translate3d(0, -900px, 0);
  transform: translate3d(0, -900px, 0);
}

.marioIsVisible {
  -webkit-transform: translate3d(0, 130px, 0);
  transform: translate3d(0, 130px, 0);
}

.move-mario {
  -webkit-animation: moveMario 1s ease-in-out;
  animation: moveMario 1s ease-in-out;
}

body {
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay > div {
  width: 100%;
  height: 100%;
}

.loaderWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 183, 237, 0.75);
  z-index: 99999;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin: 5em auto;
  font-size: 1.2em;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}

@-webkit-keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }

  12.5% {
    -webkit-box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  25% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  37.5% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  50% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  62.5% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  75% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }

  87.5% {
    -webkit-box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}

@keyframes load4 {
  0%,
  100% {
    -webkit-box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }

  12.5% {
    -webkit-box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  25% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  37.5% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  50% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  62.5% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }

  75% {
    -webkit-box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }

  87.5% {
    -webkit-box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
.overlay {
  z-index: 1000;
  background-color: rgba(114, 183, 237, 0.75);
  overflow: hidden;
}
.overlay > div {
  position: relative;
  text-align: center;
}
.overlay > div p {
  display: block;
  margin-top: 5%;
  font: bold 5em 'Geostar Fill', cursive;
  color: white;
  text-shadow: 1px 1px #000;
}

.score {
  z-index: 100;
  position: absolute;
  top: 1%;
  right: 5%;
}
.score > p {
  display: inline-block;
  float: left;
  font: normal bold 2em/1 Verdana, Geneva, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px #333333;
}

.counter2 {
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: scale 200ms;
  transition: scale 200ms;
}
.counter2:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: scale 200ms;
  transition: scale 200ms;
}

.playground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.mario {
  z-index: 3;
  position: absolute;
  left: 50px;
}

.m-wrapper {
  position: absolute;
  bottom: 400px;
  width: 100%;
}

.clouds {
  position: absolute;
  top: 0;
  width: 100%;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, white 100%);
  background: -linear-gradient(top, #c9dbe9 0%, white 100%);
}

.cloud {
  z-index: 2;
  position: relative;
  width: 200px;
  height: 60px;
  background: white;
  border-radius: 200px;
}
.cloud:before, .cloud:after {
  position: absolute;
  top: -15px;
  left: 10px;
  width: 100px;
  height: 80px;
  content: '';
  background: white;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  will-change: transform;
}
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  -webkit-animation: moveclouds 40s linear infinite;
  animation: moveclouds 40s linear infinite;
}

.questbox {
  position: absolute;
  width: 48px;
  height: 64px;
  z-index: 10;
  -webkit-transform: translate3d 200ms;
  -ms-transform: translate3d 200ms;
  transform: translate3d 200ms;
}

.qbox-up {
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
}

.qbox-down {
  -webkit-transform: translate3d(0, -35px, 0);
  transform: translate3d(0, -35px, 0);
}

.coin-up {
  -webkit-transform: translate3d(0, -25px, 0);
  transform: translate3d(0, -25px, 0);
}

.coin-down {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.coin {
  position: absolute;
  left: 17px;
  width: 17px;
  height: 23px;
  background: url("../animations/coin.png") no-repeat center;
  -webkit-transform: translate3d 200ms;
  -ms-transform: translate3d 200ms;
  transform: translate3d 200ms;
}

.endGame, .standingBox, .motka, .vrh, .zastava-outer {
  position: absolute;
}

.endGame {
  z-index: 2;
  bottom: -205px;
  right: 100px;
  width: 40px;
  height: 400px;
}

.standingBox {
  bottom: 50px;
  width: 40px;
  height: 40px;
}

.motka {
  left: 15px;
  width: 6px;
  height: 380px;
  background-color: green;
  bottom: 40px;
}

.vrh {
  left: 5px;
  bottom: 400px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: green;
  border: 2px solid black;
  z-index: 2;
}

.zastava-outer {
  right: 23px;
  bottom: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 50px 0;
  border-color: transparent green transparent transparent;
}
.zastava-outer .zastava-inner {
  position: relative;
  top: 1px;
  left: 1px;
  width: 0;
  height: 0;
  padding: 2px;
  border-style: solid;
  border-width: 0 38px 48px 0;
  border-color: transparent white transparent transparent;
}
.zastava-outer .zastava-inner p {
  margin-top: .2em;
  margin-left: 1em;
  color: green;
  font-family: sans-serif;
}

.zas-anim {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transform: translate3d(0, -310px, 0);
  transform: translate3d(0, -310px, 0);
  will-change: auto;
}

.x2 {
  left: 300px;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 35s linear infinite;
  animation: moveclouds 35s linear infinite;
  will-change: transform;
}

.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 30s linear infinite;
  animation: moveclouds 30s linear infinite;
  will-change: transform;
}

.x4 {
  left: 470px;
  top: -250px;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 25s linear infinite;
  animation: moveclouds 25s linear infinite;
  will-change: transform;
}

.x5 {
  left: -150px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
  will-change: transform;
}

.sun {
  z-index: 1;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 100px;
  height: 100px;
  background: #FDB813;
  border-radius: 200px;
}

.hills {
  position: absolute;
  width: 100%;
  bottom: 195px;
}

@-webkit-keyframes moveMario {
  0% {
    -webkit-transform: translate3d(0, -750px, 0);
    transform: translate3d(0, -750px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }
}

@keyframes moveMario {
  0% {
    -webkit-transform: translate3d(0, -750px, 0);
    transform: translate3d(0, -750px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }
}
@-webkit-keyframes moveclouds {
  0% {
    -webkit-transform: translate3d(1000px, 0, 0);
    transform: translate3d(1000px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}
@keyframes moveclouds {
  0% {
    -webkit-transform: translate3d(1000px, 0, 0);
    transform: translate3d(1000px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-1000px, 0, 0);
    transform: translate3d(-1000px, 0, 0);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.jump {
  -webkit-animation: jump 0.6s normal ease-in-out;
  animation: jump 0.6s normal ease-in-out;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 78px, 0);
    transform: translate3d(0, 78px, 0);
  }
}
/* Pixel size (set to something bigger for a better look) */
/* Position helper */
/* The main sprite and animation */
.sprite-question-box {
  position: absolute;
  height: 3px;
  width: 3px;
  -webkit-box-shadow: 3px 0 0 #d8b018, 6px 0 0 #d8b018, 9px 0 0 #d8b018, 12px 0 0 #d8b018, 15px 0 0 #d8b018, 18px 0 0 #d8b018, 21px 0 0 #d8b018, 24px 0 0 #d8b018, 27px 0 0 #d8b018, 30px 0 0 #d8b018, 33px 0 0 #d8b018, 36px 0 0 #d8b018, 39px 0 0 #d0a820, 42px 0 0 #d0a820, 0 3px 0 #d8b018, 3px 3px 0 #e8c030, 6px 3px 0 #f8f8f8, 9px 3px 0 #f8f8f8, 12px 3px 0 #f8e888, 15px 3px 0 #f8e888, 18px 3px 0 #f8e888, 21px 3px 0 #f8e888, 24px 3px 0 #f8e888, 27px 3px 0 #f8e888, 30px 3px 0 #f8e888, 33px 3px 0 #f8e888, 36px 3px 0 #f8d028, 39px 3px 0 #f8d028, 42px 3px 0 #c8a018, 45px 3px 0 #884810, 0 6px 0 #d8b018, 3px 6px 0 #f8e888, 6px 6px 0 #602800, 9px 6px 0 #e0b018, 12px 6px 0 #e0b018, 15px 6px 0 #e0b018, 18px 6px 0 #e0b018, 21px 6px 0 #e0b018, 24px 6px 0 #d8b018, 27px 6px 0 #d8b018, 30px 6px 0 #d8b018, 33px 6px 0 #d8b018, 36px 6px 0 #d0a820, 39px 6px 0 #602800, 42px 6px 0 #b08018, 45px 6px 0 #602800, 0 9px 0 #d8b018, 3px 9px 0 #f8e888, 6px 9px 0 #e0b018, 9px 9px 0 #e0b018, 12px 9px 0 #f8f8f8, 15px 9px 0 #f8f8f8, 18px 9px 0 #f8f8f8, 21px 9px 0 #f8f8f8, 24px 9px 0 #f8f8f8, 27px 9px 0 #f8f8f8, 30px 9px 0 #f8f8f8, 33px 9px 0 #f8f8f8, 36px 9px 0 #e0b018, 39px 9px 0 #d0a820, 42px 9px 0 #b08018, 45px 9px 0 #602800, 0 12px 0 #d8b018, 3px 12px 0 #f8d028, 6px 12px 0 #e0b018, 9px 12px 0 #f8f8f8, 12px 12px 0 #f8f8f8, 15px 12px 0 #f8f8f8, 18px 12px 0 #f8f8f8, 21px 12px 0 #f8f8f8, 24px 12px 0 #f8f8f8, 27px 12px 0 #f8f8f8, 30px 12px 0 #f8f8f8, 33px 12px 0 #f8f8f8, 36px 12px 0 #f8f8f8, 39px 12px 0 #884810, 42px 12px 0 #b08018, 45px 12px 0 #602800, 0 15px 0 #d8b018, 3px 15px 0 #f8d028, 6px 15px 0 #e0b018, 9px 15px 0 #f8f8f8, 12px 15px 0 #f8f8f8, 15px 15px 0 #f8f8f8, 18px 15px 0 #884810, 21px 15px 0 #884810, 24px 15px 0 #884810, 27px 15px 0 #884810, 30px 15px 0 #f8f8f8, 33px 15px 0 #f8f8f8, 36px 15px 0 #f8f8f8, 39px 15px 0 #884810, 42px 15px 0 #b08018, 45px 15px 0 #602800, 0 18px 0 #d0a820, 3px 18px 0 #e8c030, 6px 18px 0 #e0b018, 9px 18px 0 #f8f8f8, 12px 18px 0 #f8f8f8, 15px 18px 0 #f8f8f8, 18px 18px 0 #b08018, 21px 18px 0 #d8b018, 24px 18px 0 #d8b018, 27px 18px 0 #d8b018, 30px 18px 0 #f8f8f8, 33px 18px 0 #f8f8f8, 36px 18px 0 #f8f8f8, 39px 18px 0 #884810, 42px 18px 0 #986018, 45px 18px 0 #602800, 0 21px 0 #d0a820, 3px 21px 0 #e8c030, 6px 21px 0 #e0b018, 9px 21px 0 #884810, 12px 21px 0 #884810, 15px 21px 0 #884810, 18px 21px 0 #d0a820, 21px 21px 0 #f8f8f8, 24px 21px 0 #f8f8f8, 27px 21px 0 #f8f8f8, 30px 21px 0 #f8f8f8, 33px 21px 0 #f8f8f8, 36px 21px 0 #f8f8f8, 39px 21px 0 #884810, 42px 21px 0 #986018, 45px 21px 0 #602800, 0 24px 0 #d0a820, 3px 24px 0 #e8c030, 6px 24px 0 #d8b018, 9px 24px 0 #d8b018, 12px 24px 0 #d8b018, 15px 24px 0 #d8b018, 18px 24px 0 #f8f8f8, 21px 24px 0 #f8f8f8, 24px 24px 0 #f8f8f8, 27px 24px 0 #f8f8f8, 30px 24px 0 #f8f8f8, 33px 24px 0 #f8f8f8, 36px 24px 0 #d0a820, 39px 24px 0 #884810, 42px 24px 0 #986018, 45px 24px 0 #602800, 0 27px 0 #c8a018, 3px 27px 0 #e0b018, 6px 27px 0 #d8b018, 9px 27px 0 #d8b018, 12px 27px 0 #d8b018, 15px 27px 0 #d0a820, 18px 27px 0 #f8f8f8, 21px 27px 0 #f8f8f8, 24px 27px 0 #f8f8f8, 27px 27px 0 #f8f8f8, 30px 27px 0 #884810, 33px 27px 0 #884810, 36px 27px 0 #884810, 39px 27px 0 #c8a018, 42px 27px 0 #986018, 45px 27px 0 #602800, 0 30px 0 #b08018, 3px 30px 0 #e0b018, 6px 30px 0 #d8b018, 9px 30px 0 #d8b018, 12px 30px 0 #d0a820, 15px 30px 0 #d0a820, 18px 30px 0 #f8f8f8, 21px 30px 0 #f8f8f8, 24px 30px 0 #f8f8f8, 27px 30px 0 #f8f8f8, 30px 30px 0 #884810, 33px 30px 0 #c8a018, 36px 30px 0 #c8a018, 39px 30px 0 #c8a018, 42px 30px 0 #884810, 45px 30px 0 #602800, 0 33px 0 #b08018, 3px 33px 0 #d8b018, 6px 33px 0 #d8b018, 9px 33px 0 #d0a820, 12px 33px 0 #d0a820, 15px 33px 0 #d0a820, 18px 33px 0 #b08018, 21px 33px 0 #884810, 24px 33px 0 #884810, 27px 33px 0 #884810, 30px 33px 0 #884810, 33px 33px 0 #c8a018, 36px 33px 0 #c8a018, 39px 33px 0 #c8a018, 42px 33px 0 #884810, 45px 33px 0 #602800, 0 36px 0 #b08018, 3px 36px 0 #d8b018, 6px 36px 0 #d0a820, 9px 36px 0 #d0a820, 12px 36px 0 #d0a820, 15px 36px 0 #d0a820, 18px 36px 0 #f8f8f8, 21px 36px 0 #f8f8f8, 24px 36px 0 #f8f8f8, 27px 36px 0 #f8f8f8, 30px 36px 0 #884810, 33px 36px 0 #c8a018, 36px 36px 0 #c8a018, 39px 36px 0 #c8a018, 42px 36px 0 #884810, 45px 36px 0 #602800, 0 39px 0 #b08018, 3px 39px 0 #c8a018, 6px 39px 0 #602800, 9px 39px 0 #b08018, 12px 39px 0 #b08018, 15px 39px 0 #b08018, 18px 39px 0 #f8f8f8, 21px 39px 0 #f8f8f8, 24px 39px 0 #f8f8f8, 27px 39px 0 #f8f8f8, 30px 39px 0 #884810, 33px 39px 0 #b08018, 36px 39px 0 #b08018, 39px 39px 0 #602800, 42px 39px 0 #884810, 45px 39px 0 #602800, 0 42px 0 #884810, 3px 42px 0 #986018, 6px 42px 0 #986018, 9px 42px 0 #986018, 12px 42px 0 #986018, 15px 42px 0 #986018, 18px 42px 0 #884810, 21px 42px 0 #884810, 24px 42px 0 #884810, 27px 42px 0 #884810, 30px 42px 0 #884810, 33px 42px 0 #986018, 36px 42px 0 #986018, 39px 42px 0 #986018, 42px 42px 0 #884810, 45px 42px 0 #602800, 3px 45px 0 #602800, 6px 45px 0 #602800, 9px 45px 0 #602800, 12px 45px 0 #602800, 15px 45px 0 #602800, 18px 45px 0 #602800, 21px 45px 0 #602800, 24px 45px 0 #602800, 27px 45px 0 #602800, 30px 45px 0 #602800, 33px 45px 0 #602800, 36px 45px 0 #602800, 39px 45px 0 #602800, 42px 45px 0 #602800;
  box-shadow: 3px 0 0 #d8b018, 6px 0 0 #d8b018, 9px 0 0 #d8b018, 12px 0 0 #d8b018, 15px 0 0 #d8b018, 18px 0 0 #d8b018, 21px 0 0 #d8b018, 24px 0 0 #d8b018, 27px 0 0 #d8b018, 30px 0 0 #d8b018, 33px 0 0 #d8b018, 36px 0 0 #d8b018, 39px 0 0 #d0a820, 42px 0 0 #d0a820, 0 3px 0 #d8b018, 3px 3px 0 #e8c030, 6px 3px 0 #f8f8f8, 9px 3px 0 #f8f8f8, 12px 3px 0 #f8e888, 15px 3px 0 #f8e888, 18px 3px 0 #f8e888, 21px 3px 0 #f8e888, 24px 3px 0 #f8e888, 27px 3px 0 #f8e888, 30px 3px 0 #f8e888, 33px 3px 0 #f8e888, 36px 3px 0 #f8d028, 39px 3px 0 #f8d028, 42px 3px 0 #c8a018, 45px 3px 0 #884810, 0 6px 0 #d8b018, 3px 6px 0 #f8e888, 6px 6px 0 #602800, 9px 6px 0 #e0b018, 12px 6px 0 #e0b018, 15px 6px 0 #e0b018, 18px 6px 0 #e0b018, 21px 6px 0 #e0b018, 24px 6px 0 #d8b018, 27px 6px 0 #d8b018, 30px 6px 0 #d8b018, 33px 6px 0 #d8b018, 36px 6px 0 #d0a820, 39px 6px 0 #602800, 42px 6px 0 #b08018, 45px 6px 0 #602800, 0 9px 0 #d8b018, 3px 9px 0 #f8e888, 6px 9px 0 #e0b018, 9px 9px 0 #e0b018, 12px 9px 0 #f8f8f8, 15px 9px 0 #f8f8f8, 18px 9px 0 #f8f8f8, 21px 9px 0 #f8f8f8, 24px 9px 0 #f8f8f8, 27px 9px 0 #f8f8f8, 30px 9px 0 #f8f8f8, 33px 9px 0 #f8f8f8, 36px 9px 0 #e0b018, 39px 9px 0 #d0a820, 42px 9px 0 #b08018, 45px 9px 0 #602800, 0 12px 0 #d8b018, 3px 12px 0 #f8d028, 6px 12px 0 #e0b018, 9px 12px 0 #f8f8f8, 12px 12px 0 #f8f8f8, 15px 12px 0 #f8f8f8, 18px 12px 0 #f8f8f8, 21px 12px 0 #f8f8f8, 24px 12px 0 #f8f8f8, 27px 12px 0 #f8f8f8, 30px 12px 0 #f8f8f8, 33px 12px 0 #f8f8f8, 36px 12px 0 #f8f8f8, 39px 12px 0 #884810, 42px 12px 0 #b08018, 45px 12px 0 #602800, 0 15px 0 #d8b018, 3px 15px 0 #f8d028, 6px 15px 0 #e0b018, 9px 15px 0 #f8f8f8, 12px 15px 0 #f8f8f8, 15px 15px 0 #f8f8f8, 18px 15px 0 #884810, 21px 15px 0 #884810, 24px 15px 0 #884810, 27px 15px 0 #884810, 30px 15px 0 #f8f8f8, 33px 15px 0 #f8f8f8, 36px 15px 0 #f8f8f8, 39px 15px 0 #884810, 42px 15px 0 #b08018, 45px 15px 0 #602800, 0 18px 0 #d0a820, 3px 18px 0 #e8c030, 6px 18px 0 #e0b018, 9px 18px 0 #f8f8f8, 12px 18px 0 #f8f8f8, 15px 18px 0 #f8f8f8, 18px 18px 0 #b08018, 21px 18px 0 #d8b018, 24px 18px 0 #d8b018, 27px 18px 0 #d8b018, 30px 18px 0 #f8f8f8, 33px 18px 0 #f8f8f8, 36px 18px 0 #f8f8f8, 39px 18px 0 #884810, 42px 18px 0 #986018, 45px 18px 0 #602800, 0 21px 0 #d0a820, 3px 21px 0 #e8c030, 6px 21px 0 #e0b018, 9px 21px 0 #884810, 12px 21px 0 #884810, 15px 21px 0 #884810, 18px 21px 0 #d0a820, 21px 21px 0 #f8f8f8, 24px 21px 0 #f8f8f8, 27px 21px 0 #f8f8f8, 30px 21px 0 #f8f8f8, 33px 21px 0 #f8f8f8, 36px 21px 0 #f8f8f8, 39px 21px 0 #884810, 42px 21px 0 #986018, 45px 21px 0 #602800, 0 24px 0 #d0a820, 3px 24px 0 #e8c030, 6px 24px 0 #d8b018, 9px 24px 0 #d8b018, 12px 24px 0 #d8b018, 15px 24px 0 #d8b018, 18px 24px 0 #f8f8f8, 21px 24px 0 #f8f8f8, 24px 24px 0 #f8f8f8, 27px 24px 0 #f8f8f8, 30px 24px 0 #f8f8f8, 33px 24px 0 #f8f8f8, 36px 24px 0 #d0a820, 39px 24px 0 #884810, 42px 24px 0 #986018, 45px 24px 0 #602800, 0 27px 0 #c8a018, 3px 27px 0 #e0b018, 6px 27px 0 #d8b018, 9px 27px 0 #d8b018, 12px 27px 0 #d8b018, 15px 27px 0 #d0a820, 18px 27px 0 #f8f8f8, 21px 27px 0 #f8f8f8, 24px 27px 0 #f8f8f8, 27px 27px 0 #f8f8f8, 30px 27px 0 #884810, 33px 27px 0 #884810, 36px 27px 0 #884810, 39px 27px 0 #c8a018, 42px 27px 0 #986018, 45px 27px 0 #602800, 0 30px 0 #b08018, 3px 30px 0 #e0b018, 6px 30px 0 #d8b018, 9px 30px 0 #d8b018, 12px 30px 0 #d0a820, 15px 30px 0 #d0a820, 18px 30px 0 #f8f8f8, 21px 30px 0 #f8f8f8, 24px 30px 0 #f8f8f8, 27px 30px 0 #f8f8f8, 30px 30px 0 #884810, 33px 30px 0 #c8a018, 36px 30px 0 #c8a018, 39px 30px 0 #c8a018, 42px 30px 0 #884810, 45px 30px 0 #602800, 0 33px 0 #b08018, 3px 33px 0 #d8b018, 6px 33px 0 #d8b018, 9px 33px 0 #d0a820, 12px 33px 0 #d0a820, 15px 33px 0 #d0a820, 18px 33px 0 #b08018, 21px 33px 0 #884810, 24px 33px 0 #884810, 27px 33px 0 #884810, 30px 33px 0 #884810, 33px 33px 0 #c8a018, 36px 33px 0 #c8a018, 39px 33px 0 #c8a018, 42px 33px 0 #884810, 45px 33px 0 #602800, 0 36px 0 #b08018, 3px 36px 0 #d8b018, 6px 36px 0 #d0a820, 9px 36px 0 #d0a820, 12px 36px 0 #d0a820, 15px 36px 0 #d0a820, 18px 36px 0 #f8f8f8, 21px 36px 0 #f8f8f8, 24px 36px 0 #f8f8f8, 27px 36px 0 #f8f8f8, 30px 36px 0 #884810, 33px 36px 0 #c8a018, 36px 36px 0 #c8a018, 39px 36px 0 #c8a018, 42px 36px 0 #884810, 45px 36px 0 #602800, 0 39px 0 #b08018, 3px 39px 0 #c8a018, 6px 39px 0 #602800, 9px 39px 0 #b08018, 12px 39px 0 #b08018, 15px 39px 0 #b08018, 18px 39px 0 #f8f8f8, 21px 39px 0 #f8f8f8, 24px 39px 0 #f8f8f8, 27px 39px 0 #f8f8f8, 30px 39px 0 #884810, 33px 39px 0 #b08018, 36px 39px 0 #b08018, 39px 39px 0 #602800, 42px 39px 0 #884810, 45px 39px 0 #602800, 0 42px 0 #884810, 3px 42px 0 #986018, 6px 42px 0 #986018, 9px 42px 0 #986018, 12px 42px 0 #986018, 15px 42px 0 #986018, 18px 42px 0 #884810, 21px 42px 0 #884810, 24px 42px 0 #884810, 27px 42px 0 #884810, 30px 42px 0 #884810, 33px 42px 0 #986018, 36px 42px 0 #986018, 39px 42px 0 #986018, 42px 42px 0 #884810, 45px 42px 0 #602800, 3px 45px 0 #602800, 6px 45px 0 #602800, 9px 45px 0 #602800, 12px 45px 0 #602800, 15px 45px 0 #602800, 18px 45px 0 #602800, 21px 45px 0 #602800, 24px 45px 0 #602800, 27px 45px 0 #602800, 30px 45px 0 #602800, 33px 45px 0 #602800, 36px 45px 0 #602800, 39px 45px 0 #602800, 42px 45px 0 #602800;
}

.standing-box {
  position: absolute;
  height: 3px;
  width: 3px;
  -webkit-box-shadow: 3px 0 0 #d8b018, 6px 0 0 #d8b018, 9px 0 0 #d8b018, 12px 0 0 #d8b018, 15px 0 0 #d8b018, 18px 0 0 #d8b018, 21px 0 0 #d8b018, 24px 0 0 #d8b018, 27px 0 0 #d8b018, 30px 0 0 #d8b018, 33px 0 0 #d8b018, 36px 0 0 #d8b018, 39px 0 0 #d0a820, 42px 0 0 #d0a820, 0 3px 0 #d8b018, 3px 3px 0 #e8c030, 6px 3px 0 #f8f8f8, 9px 3px 0 #f8f8f8, 12px 3px 0 #f8e888, 15px 3px 0 #f8e888, 18px 3px 0 #f8e888, 21px 3px 0 #f8e888, 24px 3px 0 #f8e888, 27px 3px 0 #f8e888, 30px 3px 0 #f8e888, 33px 3px 0 #f8e888, 36px 3px 0 #f8d028, 39px 3px 0 #f8d028, 42px 3px 0 #c8a018, 45px 3px 0 #884810, 0 6px 0 #d8b018, 3px 6px 0 #f8e888, 6px 6px 0 #602800, 9px 6px 0 #e0b018, 12px 6px 0 #e0b018, 15px 6px 0 #e0b018, 18px 6px 0 #e0b018, 21px 6px 0 #e0b018, 24px 6px 0 #d8b018, 27px 6px 0 #d8b018, 30px 6px 0 #d8b018, 33px 6px 0 #d8b018, 36px 6px 0 #d0a820, 39px 6px 0 #602800, 42px 6px 0 #b08018, 45px 6px 0 #602800, 0 9px 0 #d8b018, 3px 9px 0 #f8e888, 6px 9px 0 #602800, 9px 9px 0 #e0b018, 12px 9px 0 #e0b018, 15px 9px 0 #e0b018, 18px 9px 0 #e0b018, 21px 9px 0 #e0b018, 24px 9px 0 #d8b018, 27px 9px 0 #d8b018, 30px 9px 0 #d8b018, 33px 9px 0 #d8b018, 36px 9px 0 #d0a820, 39px 9px 0 #602800, 42px 9px 0 #b08018, 45px 9px 0 #602800, 0 12px 0 #d8b018, 3px 12px 0 #f8e888, 6px 12px 0 #602800, 9px 12px 0 #e0b018, 12px 12px 0 #e0b018, 15px 12px 0 #e0b018, 18px 12px 0 #e0b018, 21px 12px 0 #e0b018, 24px 12px 0 #d8b018, 27px 12px 0 #d8b018, 30px 12px 0 #d8b018, 33px 12px 0 #d8b018, 36px 12px 0 #d0a820, 39px 12px 0 #602800, 42px 12px 0 #b08018, 45px 12px 0 #602800, 0 15px 0 #d8b018, 3px 15px 0 #f8e888, 6px 15px 0 #602800, 9px 15px 0 #e0b018, 12px 15px 0 #e0b018, 15px 15px 0 #e0b018, 18px 15px 0 #e0b018, 21px 15px 0 #e0b018, 24px 15px 0 #d8b018, 27px 15px 0 #d8b018, 30px 15px 0 #d8b018, 33px 15px 0 #d8b018, 36px 15px 0 #d0a820, 39px 15px 0 #602800, 42px 15px 0 #b08018, 45px 15px 0 #602800, 0 18px 0 #d8b018, 3px 18px 0 #f8e888, 6px 18px 0 #602800, 9px 18px 0 #e0b018, 12px 18px 0 #e0b018, 15px 18px 0 #e0b018, 18px 18px 0 #e0b018, 21px 18px 0 #e0b018, 24px 18px 0 #d8b018, 27px 18px 0 #d8b018, 30px 18px 0 #d8b018, 33px 18px 0 #d8b018, 36px 18px 0 #d0a820, 39px 18px 0 #602800, 42px 18px 0 #b08018, 45px 18px 0 #602800, 0 21px 0 #d8b018, 3px 21px 0 #f8e888, 6px 21px 0 #602800, 9px 21px 0 #e0b018, 12px 21px 0 #e0b018, 15px 21px 0 #e0b018, 18px 21px 0 #e0b018, 21px 21px 0 #e0b018, 24px 21px 0 #d8b018, 27px 21px 0 #d8b018, 30px 21px 0 #d8b018, 33px 21px 0 #d8b018, 36px 21px 0 #d0a820, 39px 21px 0 #602800, 42px 21px 0 #b08018, 45px 21px 0 #602800, 0 24px 0 #d8b018, 3px 24px 0 #f8e888, 6px 24px 0 #602800, 9px 24px 0 #e0b018, 12px 24px 0 #e0b018, 15px 24px 0 #e0b018, 18px 24px 0 #e0b018, 21px 24px 0 #e0b018, 24px 24px 0 #d8b018, 27px 24px 0 #d8b018, 30px 24px 0 #d8b018, 33px 24px 0 #d8b018, 36px 24px 0 #d0a820, 39px 24px 0 #602800, 42px 24px 0 #b08018, 45px 24px 0 #602800, 0 27px 0 #d8b018, 3px 27px 0 #f8e888, 6px 27px 0 #602800, 9px 27px 0 #e0b018, 12px 27px 0 #e0b018, 15px 27px 0 #e0b018, 18px 27px 0 #e0b018, 21px 27px 0 #e0b018, 24px 27px 0 #d8b018, 27px 27px 0 #d8b018, 30px 27px 0 #d8b018, 33px 27px 0 #d8b018, 36px 27px 0 #d0a820, 39px 27px 0 #602800, 42px 27px 0 #b08018, 45px 27px 0 #602800, 0 30px 0 #d8b018, 3px 30px 0 #f8e888, 6px 30px 0 #602800, 9px 30px 0 #e0b018, 12px 30px 0 #e0b018, 15px 30px 0 #e0b018, 18px 30px 0 #e0b018, 21px 30px 0 #e0b018, 24px 30px 0 #d8b018, 27px 30px 0 #d8b018, 30px 30px 0 #d8b018, 33px 30px 0 #d8b018, 36px 30px 0 #d0a820, 39px 30px 0 #602800, 42px 30px 0 #b08018, 45px 30px 0 #602800, 0 33px 0 #d8b018, 3px 33px 0 #f8e888, 6px 33px 0 #602800, 9px 33px 0 #e0b018, 12px 33px 0 #e0b018, 15px 33px 0 #e0b018, 18px 33px 0 #e0b018, 21px 33px 0 #e0b018, 24px 33px 0 #d8b018, 27px 33px 0 #d8b018, 30px 33px 0 #d8b018, 33px 33px 0 #d8b018, 36px 33px 0 #d0a820, 39px 33px 0 #602800, 42px 33px 0 #b08018, 45px 33px 0 #602800, 0 36px 0 #d8b018, 3px 36px 0 #f8e888, 6px 36px 0 #602800, 9px 36px 0 #e0b018, 12px 36px 0 #e0b018, 15px 36px 0 #e0b018, 18px 36px 0 #e0b018, 21px 36px 0 #e0b018, 24px 36px 0 #d8b018, 27px 36px 0 #d8b018, 30px 36px 0 #d8b018, 33px 36px 0 #d8b018, 36px 36px 0 #d0a820, 39px 36px 0 #602800, 42px 36px 0 #b08018, 45px 36px 0 #602800, 0 39px 0 #d8b018, 3px 39px 0 #f8e888, 6px 39px 0 #602800, 9px 39px 0 #e0b018, 12px 39px 0 #e0b018, 15px 39px 0 #e0b018, 18px 39px 0 #e0b018, 21px 39px 0 #e0b018, 24px 39px 0 #d8b018, 27px 39px 0 #d8b018, 30px 39px 0 #d8b018, 33px 39px 0 #d8b018, 36px 39px 0 #d0a820, 39px 39px 0 #602800, 42px 39px 0 #b08018, 45px 39px 0 #602800, 0 42px 0 #884810, 3px 42px 0 #986018, 6px 42px 0 #986018, 9px 42px 0 #986018, 12px 42px 0 #986018, 15px 42px 0 #986018, 18px 42px 0 #884810, 21px 42px 0 #884810, 24px 42px 0 #884810, 27px 42px 0 #884810, 30px 42px 0 #884810, 33px 42px 0 #986018, 36px 42px 0 #986018, 39px 42px 0 #986018, 42px 42px 0 #884810, 45px 42px 0 #602800, 3px 45px 0 #602800, 6px 45px 0 #602800, 9px 45px 0 #602800, 12px 45px 0 #602800, 15px 45px 0 #602800, 18px 45px 0 #602800, 21px 45px 0 #602800, 24px 45px 0 #602800, 27px 45px 0 #602800, 30px 45px 0 #602800, 33px 45px 0 #602800, 36px 45px 0 #602800, 39px 45px 0 #602800, 42px 45px 0 #602800;
  box-shadow: 3px 0 0 #d8b018, 6px 0 0 #d8b018, 9px 0 0 #d8b018, 12px 0 0 #d8b018, 15px 0 0 #d8b018, 18px 0 0 #d8b018, 21px 0 0 #d8b018, 24px 0 0 #d8b018, 27px 0 0 #d8b018, 30px 0 0 #d8b018, 33px 0 0 #d8b018, 36px 0 0 #d8b018, 39px 0 0 #d0a820, 42px 0 0 #d0a820, 0 3px 0 #d8b018, 3px 3px 0 #e8c030, 6px 3px 0 #f8f8f8, 9px 3px 0 #f8f8f8, 12px 3px 0 #f8e888, 15px 3px 0 #f8e888, 18px 3px 0 #f8e888, 21px 3px 0 #f8e888, 24px 3px 0 #f8e888, 27px 3px 0 #f8e888, 30px 3px 0 #f8e888, 33px 3px 0 #f8e888, 36px 3px 0 #f8d028, 39px 3px 0 #f8d028, 42px 3px 0 #c8a018, 45px 3px 0 #884810, 0 6px 0 #d8b018, 3px 6px 0 #f8e888, 6px 6px 0 #602800, 9px 6px 0 #e0b018, 12px 6px 0 #e0b018, 15px 6px 0 #e0b018, 18px 6px 0 #e0b018, 21px 6px 0 #e0b018, 24px 6px 0 #d8b018, 27px 6px 0 #d8b018, 30px 6px 0 #d8b018, 33px 6px 0 #d8b018, 36px 6px 0 #d0a820, 39px 6px 0 #602800, 42px 6px 0 #b08018, 45px 6px 0 #602800, 0 9px 0 #d8b018, 3px 9px 0 #f8e888, 6px 9px 0 #602800, 9px 9px 0 #e0b018, 12px 9px 0 #e0b018, 15px 9px 0 #e0b018, 18px 9px 0 #e0b018, 21px 9px 0 #e0b018, 24px 9px 0 #d8b018, 27px 9px 0 #d8b018, 30px 9px 0 #d8b018, 33px 9px 0 #d8b018, 36px 9px 0 #d0a820, 39px 9px 0 #602800, 42px 9px 0 #b08018, 45px 9px 0 #602800, 0 12px 0 #d8b018, 3px 12px 0 #f8e888, 6px 12px 0 #602800, 9px 12px 0 #e0b018, 12px 12px 0 #e0b018, 15px 12px 0 #e0b018, 18px 12px 0 #e0b018, 21px 12px 0 #e0b018, 24px 12px 0 #d8b018, 27px 12px 0 #d8b018, 30px 12px 0 #d8b018, 33px 12px 0 #d8b018, 36px 12px 0 #d0a820, 39px 12px 0 #602800, 42px 12px 0 #b08018, 45px 12px 0 #602800, 0 15px 0 #d8b018, 3px 15px 0 #f8e888, 6px 15px 0 #602800, 9px 15px 0 #e0b018, 12px 15px 0 #e0b018, 15px 15px 0 #e0b018, 18px 15px 0 #e0b018, 21px 15px 0 #e0b018, 24px 15px 0 #d8b018, 27px 15px 0 #d8b018, 30px 15px 0 #d8b018, 33px 15px 0 #d8b018, 36px 15px 0 #d0a820, 39px 15px 0 #602800, 42px 15px 0 #b08018, 45px 15px 0 #602800, 0 18px 0 #d8b018, 3px 18px 0 #f8e888, 6px 18px 0 #602800, 9px 18px 0 #e0b018, 12px 18px 0 #e0b018, 15px 18px 0 #e0b018, 18px 18px 0 #e0b018, 21px 18px 0 #e0b018, 24px 18px 0 #d8b018, 27px 18px 0 #d8b018, 30px 18px 0 #d8b018, 33px 18px 0 #d8b018, 36px 18px 0 #d0a820, 39px 18px 0 #602800, 42px 18px 0 #b08018, 45px 18px 0 #602800, 0 21px 0 #d8b018, 3px 21px 0 #f8e888, 6px 21px 0 #602800, 9px 21px 0 #e0b018, 12px 21px 0 #e0b018, 15px 21px 0 #e0b018, 18px 21px 0 #e0b018, 21px 21px 0 #e0b018, 24px 21px 0 #d8b018, 27px 21px 0 #d8b018, 30px 21px 0 #d8b018, 33px 21px 0 #d8b018, 36px 21px 0 #d0a820, 39px 21px 0 #602800, 42px 21px 0 #b08018, 45px 21px 0 #602800, 0 24px 0 #d8b018, 3px 24px 0 #f8e888, 6px 24px 0 #602800, 9px 24px 0 #e0b018, 12px 24px 0 #e0b018, 15px 24px 0 #e0b018, 18px 24px 0 #e0b018, 21px 24px 0 #e0b018, 24px 24px 0 #d8b018, 27px 24px 0 #d8b018, 30px 24px 0 #d8b018, 33px 24px 0 #d8b018, 36px 24px 0 #d0a820, 39px 24px 0 #602800, 42px 24px 0 #b08018, 45px 24px 0 #602800, 0 27px 0 #d8b018, 3px 27px 0 #f8e888, 6px 27px 0 #602800, 9px 27px 0 #e0b018, 12px 27px 0 #e0b018, 15px 27px 0 #e0b018, 18px 27px 0 #e0b018, 21px 27px 0 #e0b018, 24px 27px 0 #d8b018, 27px 27px 0 #d8b018, 30px 27px 0 #d8b018, 33px 27px 0 #d8b018, 36px 27px 0 #d0a820, 39px 27px 0 #602800, 42px 27px 0 #b08018, 45px 27px 0 #602800, 0 30px 0 #d8b018, 3px 30px 0 #f8e888, 6px 30px 0 #602800, 9px 30px 0 #e0b018, 12px 30px 0 #e0b018, 15px 30px 0 #e0b018, 18px 30px 0 #e0b018, 21px 30px 0 #e0b018, 24px 30px 0 #d8b018, 27px 30px 0 #d8b018, 30px 30px 0 #d8b018, 33px 30px 0 #d8b018, 36px 30px 0 #d0a820, 39px 30px 0 #602800, 42px 30px 0 #b08018, 45px 30px 0 #602800, 0 33px 0 #d8b018, 3px 33px 0 #f8e888, 6px 33px 0 #602800, 9px 33px 0 #e0b018, 12px 33px 0 #e0b018, 15px 33px 0 #e0b018, 18px 33px 0 #e0b018, 21px 33px 0 #e0b018, 24px 33px 0 #d8b018, 27px 33px 0 #d8b018, 30px 33px 0 #d8b018, 33px 33px 0 #d8b018, 36px 33px 0 #d0a820, 39px 33px 0 #602800, 42px 33px 0 #b08018, 45px 33px 0 #602800, 0 36px 0 #d8b018, 3px 36px 0 #f8e888, 6px 36px 0 #602800, 9px 36px 0 #e0b018, 12px 36px 0 #e0b018, 15px 36px 0 #e0b018, 18px 36px 0 #e0b018, 21px 36px 0 #e0b018, 24px 36px 0 #d8b018, 27px 36px 0 #d8b018, 30px 36px 0 #d8b018, 33px 36px 0 #d8b018, 36px 36px 0 #d0a820, 39px 36px 0 #602800, 42px 36px 0 #b08018, 45px 36px 0 #602800, 0 39px 0 #d8b018, 3px 39px 0 #f8e888, 6px 39px 0 #602800, 9px 39px 0 #e0b018, 12px 39px 0 #e0b018, 15px 39px 0 #e0b018, 18px 39px 0 #e0b018, 21px 39px 0 #e0b018, 24px 39px 0 #d8b018, 27px 39px 0 #d8b018, 30px 39px 0 #d8b018, 33px 39px 0 #d8b018, 36px 39px 0 #d0a820, 39px 39px 0 #602800, 42px 39px 0 #b08018, 45px 39px 0 #602800, 0 42px 0 #884810, 3px 42px 0 #986018, 6px 42px 0 #986018, 9px 42px 0 #986018, 12px 42px 0 #986018, 15px 42px 0 #986018, 18px 42px 0 #884810, 21px 42px 0 #884810, 24px 42px 0 #884810, 27px 42px 0 #884810, 30px 42px 0 #884810, 33px 42px 0 #986018, 36px 42px 0 #986018, 39px 42px 0 #986018, 42px 42px 0 #884810, 45px 42px 0 #602800, 3px 45px 0 #602800, 6px 45px 0 #602800, 9px 45px 0 #602800, 12px 45px 0 #602800, 15px 45px 0 #602800, 18px 45px 0 #602800, 21px 45px 0 #602800, 24px 45px 0 #602800, 27px 45px 0 #602800, 30px 45px 0 #602800, 33px 45px 0 #602800, 36px 45px 0 #602800, 39px 45px 0 #602800, 42px 45px 0 #602800;
}

.column {
  float: left;
  width: 40px;
  height: 25px;
}

.box {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.Hills {
  position: absolute;
  top: -155px;
  width: 100%;
}

.hilll {
  position: absolute;
  height: auto;
}

.hilll-0 {
  width: 300px;
  left: 200px;
  border-bottom: 150px solid #54a97a;
  border-left: 240px solid transparent;
  border-right: 250px solid transparent;
}

.hilll-1 {
  width: 300px;
  left: 400px;
  border-bottom: 150px solid #40805c;
  border-left: 100px solid transparent;
  border-right: 190px solid transparent;
}

.hilll-2 {
  width: 300px;
  left: 300px;
  border-bottom: 150px solid #468e66;
  border-left: 400px solid transparent;
  border-right: 200px solid transparent;
}

.hilll-3 {
  width: 300px;
  left: 600px;
  border-bottom: 150px solid #4d9b70;
  border-left: 300px solid transparent;
  border-right: 440.0px solid transparent;
}

.hilll-4 {
  width: 300px;
  left: 1000px;
  border-bottom: 150px solid #51a275;
  border-left: 200px solid transparent;
  border-right: 400px solid transparent;
}
